<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header svg-icons"
        [ngClass]="{'content-header-ar':translationService.getSelectedLanguage()=='ar'}">
        <h1><i class="icon49"></i> <span>{{'DEVICE.USERS' | translate}}</span> </h1>
      </div>
    </div>
  </div>
  <div class="breadcrump-pages" [ngClass]="{'breadcrump-pages-ar':translationService.getSelectedLanguage()=='ar'}">
    <div class="crumbs-sec">
      <a [routerLink]="['/']">{{'SIDEBAR.DASHBOARD' | translate}}</a> / <span>{{'DEVICE.USERS' | translate}}</span>
    </div>
  </div>
</div>

<div class="device-details-sync">
  <table>
    <tr>
      <td>{{'DEVICE.NAME_ENGLISH' | translate}}</td>
      <td>:</td>
      <th>{{deviceDetail.nameEnglish}}</th>
      <!-- <td>{{'DEVICE.NAME_ARABIC' | translate}}</td>
        <td>:</td>
        <th>{{deviceDetail.nameSecondLanguage}}</th> -->
      <td>{{'DEVICE.DEVICE_TYPE' | translate}}</td>
      <td>:</td>
      <th>{{deviceDetail.deviceTypeText}}</th>
    </tr>
    <tr>
      <td>{{'DEVICE.MODEL_NUMBER' | translate}}</td>
      <td>:</td>
      <th>{{deviceDetail.modelNo}}</th>
      <td>{{'DEVICE.DEVICE_IDENTIFIER' | translate}}</td>
      <td>:</td>
      <th>{{deviceDetail.deviceIdentifier}}</th>
      <td>{{'DEVICE.DEVICE_STATUS' | translate}}</td>
      <td>:</td>
      <th>
        <h5>
          <span class="badge text-light" [ngClass]="{'badge-success':deviceDetail.actStatus===deviceActivationStatus.ACTIVATED,
                        'badge-warning':deviceDetail.actStatus===deviceActivationStatus.PENDING,
                        'badge-danger':deviceDetail.actStatus===deviceActivationStatus.DEACTIVATED,
                        'badge-primary':deviceDetail.actStatus===deviceActivationStatus.READYFORACTIVATE}">
            {{deviceDetail.deviceStatusText}}
          </span>
        </h5>
      </th>
    </tr>
    <tr>
      <td>{{'DEVICE.INSTALLATION_DATE' | translate}}</td>
      <td>:</td>
      <th>{{deviceDetail.installationDate | date:'dd-MM-yyyy, h:mm:ss a zzzz'}}</th>
      <td>{{'DEVICE.ACTIVATION_DATE' | translate}}</td>
      <td>:</td>
      <th>{{deviceDetail.actDate | date:'dd-MM-yyyy, h:mm:ss a zzzz'}}</th>
      <td>{{'DEVICE.LAST_SYNCED_ON' | translate}}</td>
      <td>:</td>
      <th>{{deviceDetail.lastSyncedOn}}</th>
    </tr>
  </table>
</div>


<div class="sync-tabs">
  <mat-tab-group>
    <mat-tab label="{{'DEVICE.DEVICE_USERS.USERS_LIST' | translate}}">
      <ng-template matTabContent>

        <div class="col-md-auto col-sm-auto text-right mb-3">
          <button *hasClaim="'device_device_add_device_user'" class="btn blue-btn btn-sm m-right-10"
            [routerLink]="['/device/user/manage/add']" [queryParams]="{ id: deviceDetail.deviceUUID }">
            <i class="fas fa-plus"></i> {{'COMMON.ADD' | translate}}
          </button>
        </div>

        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="table table-bordered table-hover grid-height">
            <ng-container matColumnDef="action">
              <th class="text-center" mat-header-cell *matHeaderCellDef></th>
              <td class="text-center" mat-cell *matCellDef="let deviceUser;">
                <button
                  *hasClaim="['device_device_edit_device_user','device_device_delete_device_user','device_device_device_user_permissions','device_device_reset_pin','device_device_device_user_configuration']"
                  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action">
                  <mat-icon>more_vert</mat-icon>

                  <mat-menu #menu="matMenu">
                    <button *hasClaim="'device_device_edit_device_user'" mat-menu-item
                      [routerLink]="['/device/user/manage/',deviceUser.id]">
                      <mat-icon>edit</mat-icon>
                      <span> {{'COMMON.EDIT' | translate}}</span>
                    </button>

                    <button *hasClaim="'device_device_delete_device_user'" mat-menu-item
                      (click)="deleteUser(deviceUser)">
                      <mat-icon>delete</mat-icon>
                      <span> {{'COMMON.DELETE' | translate}}</span>
                    </button>

                    <button *hasClaim="'device_device_device_user_permissions'" mat-menu-item
                      [routerLink]="['/device/user/permission/',deviceUser.id]">
                      <mat-icon>security</mat-icon>
                      <span> {{'DEVICE.DEVICE_USERS.USER_PERMISSIONS' | translate}}</span>
                    </button>

                    <button *hasClaim="'device_device_reset_pin'" mat-menu-item (click)="resetPin(deviceUser.id)">
                      <mat-icon>lock</mat-icon>
                      <span> {{'DEVICE.DEVICE_USERS.RESET_PIN' | translate}}</span>
                    </button>

                    <button *hasClaim="'device_device_device_user_configuration'" mat-menu-item
                      [routerLink]="['/device/user/configuration/',deviceUser.id]">
                      <mat-icon>settings</mat-icon>
                      <span> {{'DEVICE.DEVICE_USERS.CONFIGURATION' | translate}}</span>
                    </button>

                  </mat-menu>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="userName">
              <th class="table-column-100" mat-header-cell *matHeaderCellDef>{{'DEVICE.DEVICE_USERS.USER_NAME' |
                translate}}</th>
              <td class="table-column-100" mat-cell *matCellDef="let deviceUser">{{deviceUser.userName}}</td>
            </ng-container>
            <ng-container matColumnDef="firstName">
              <th class="table-column-100" mat-header-cell *matHeaderCellDef>{{'DEVICE.DEVICE_USERS.FIRST_NAME' |
                translate}}</th>
              <td class="table-column-100" mat-cell *matCellDef="let deviceUser">{{deviceUser.firstName}}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
              <th class="table-column-100" mat-header-cell *matHeaderCellDef>{{'DEVICE.DEVICE_USERS.LAST_NAME' |
                translate}}</th>
              <td class="table-column-100" mat-cell *matCellDef="let deviceUser"> {{deviceUser.lastName}} </td>
            </ng-container>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                {{'COMMON.NO_DATA_FOUND' | translate}}
              </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
          </table>

        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{'DEVICE.POS_DEVICE.POS_DEVICE' | translate}}">
      <ng-template matTabContent>

        <div class="row">
          <div class="col-md-6">
            <div class="col-md-auto col-sm-auto text-left mb-3" *ngIf="isSavePosDevice$ | async">
              <button type="submit" class="btn btn-success btn-sm m-right-10" (click)="savePOSDevice()">
                <i class="fas fa-save"></i> {{'COMMON.SAVE' | translate}}
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-auto col-sm-auto text-right mb-3">
              <button class="btn blue-btn btn-sm m-right-10" (click)="openDeviceMapDialog()">
                <i class="fas fa-plus"></i> {{'COMMON.ADD' | translate}}
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <div class="section-boxed">
            <div class="row">
            </div>
            <div class="posmerchant-table table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>{{'DEVICE.POS_DEVICE.MANUFACTURE' | translate}}</th>
                    <th>{{'DEVICE.POS_DEVICE.MODEL_NO' | translate}}</th>
                    <th>{{'DEVICE.POS_DEVICE.DEVICE_ID' | translate}}</th>
                    <th>{{'DEVICE.POS_DEVICE.DEFAULT_POS_DEVICE' | translate}}</th>
                    <th class="text-center">{{'COMMON.ACTION' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of posMerchantDevices">
                    <td>{{item.posDevice.brandName}}</td>
                    <td>{{item.posDevice.deviceModel}}</td>
                    <td>{{item.posDevice.serialNo}}</td>
                    <td class="text-center">
                      <mat-slide-toggle *ngIf="isSavePosDevice$ | async" class="example-margin"
                        [(ngModel)]="item.isDefaultPOSDevice" (change)="setDefaultPOSDevice(item)"> </mat-slide-toggle>
                      <span *ngIf="!(isSavePosDevice$ | async)" class="badge "
                        [ngClass]="{'badge-success': item.isDefaultPOSDevice, 'badge-secondary': !item.isDefaultPOSDevice}">
                        {{item.isDefaultPOSDevice?'YES':'NO'}}
                      </span>
                    </td>
                    <td class="action-button">
                      <button mat-mini-fab color="primary"
                        (click)="openDetailDialog('merchantDevice',item.posDeviceUUID)">
                        <mat-icon>remove_red_eye</mat-icon>
                      </button>
                      <button *ngIf="isSavePosDevice$ | async" mat-mini-fab color="warn"
                        (click)="deletePosDevice(item.posDeviceUUID)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                  <tr class="text-center" *ngIf="posMerchantDevices.length<=0">
                    <td colspan="5">{{'COMMON.NO_DATA_FOUND' | translate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{'DEVICE.POS_PRINTER.POS_PRINTER' | translate}}">
      <ng-template matTabContent>

        <div class="row">
          <div class="col-md-6">
            <div class="col-md-auto col-sm-auto text-left mb-3" *ngIf="isSavePosPrinter$ | async">
              <button type="submit" class="btn btn-success btn-sm m-right-10" (click)="savePOSPrinter()">
                <i class="fas fa-save"></i> {{'COMMON.SAVE' | translate}}
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-auto col-sm-auto text-right mb-3">
              <button class="btn blue-btn btn-sm m-right-10" (click)="openPOSPrinterMapDialog()">
                <i class="fas fa-plus"></i> {{'COMMON.ADD' | translate}}
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <div class="section-boxed">
            <div class="row">
            </div>
            <div class="posmerchant-table table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>{{'DEVICE.POS_PRINTER.PRINTER_NAME' | translate}}</th>
                    <th>{{'DEVICE.POS_PRINTER.MODEL_NAME' | translate}}</th>
                    <th>{{'DEVICE.POS_PRINTER.SERIAL_NO' | translate}}</th>
                    <th>{{'DEVICE.POS_PRINTER.IP_ADDRESS' | translate}}</th>
                    <th>{{'DEVICE.POS_PRINTER.DEFAULT_POS_PRINTER' | translate}}</th>
                    <th class="text-center">{{'COMMON.ACTION' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of posMerchantPrinters">
                    <td>{{item.posPrinter.nameEnglish}}</td>
                    <td>{{item.posPrinter.modelName}}</td>
                    <td>{{item.posPrinter.serialNo}}</td>
                    <td>{{item.posPrinter.ipAddress}}</td>
                    <td class="text-center">
                      <mat-slide-toggle *ngIf="isSavePosPrinter$ | async" class="example-margin"
                        [(ngModel)]="item.isDefaultPrinter" (change)="setDefaultPOSPrinter(item)"> </mat-slide-toggle>
                      <span *ngIf="!(isSavePosPrinter$ | async)" class="badge "
                        [ngClass]="{'badge-success': item.isDefaultPrinter, 'badge-secondary': !item.isDefaultPrinter}">
                        {{item.isDefaultPrinter?'YES':'NO'}}
                      </span>
                    </td>
                    <td class="action-button">
                      <button mat-mini-fab color="primary"
                        (click)="openDetailDialog('merchantPOSPrinter',item.posPrinterUUID)">
                        <mat-icon>remove_red_eye</mat-icon>
                      </button>
                      <button *ngIf="isSavePosPrinter$ | async" mat-mini-fab color="warn"
                        (click)="deletePosPrinter(item.posPrinterUUID)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                  <tr class="text-center" *ngIf="posMerchantPrinters.length<=0">
                    <td colspan="6">{{'COMMON.NO_DATA_FOUND' | translate}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
