table.mat-table {
  border-spacing: 0;
  display: table !important;
  width: 100% !important;
}
.content-header h1 i {
    display: list-item;
    position: absolute;
    padding-right: 18px;
    background-color: #f58220 !important;
  }
  .content-header h1 span {
    margin-left: 25px;
  }

  td.mat-cell {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    z-index: 0 !important;
  }
  table {
    width: 100%;
  }
  .table tr th {
    border: none !important;
    border-bottom: 1px solid #dee2e6 !important;
    background-color:  #F8F9FD !important;
    // border-radius: 20px;
  }
  .table-responsive{
    border-radius: 20px;
  }
