.btn-danger{
    border: 1px solid black;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .modal-content1{
    padding: 10px;
  }