.modal-content1 .modal-title {
  color: #000000;
  overflow: hidden !important;
  white-space: initial !important;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 400;
}
.higlite-attn {
  color: #f58220;
}
