
<div style="position:absolute;left:-15420px">
	<div style="width:100%;display:flex;">
    <div class="invoice-container-wrap" id ="ledgerReport">
      <div style="width: 880px;padding: 20px 15px;margin: 15px auto;position: relative;z-index: 5;">
          <div style="position: relative;z-index: 4;background-color: #FFF;">
              <div style="padding: 20px;">
                  <header style="margin-bottom: 20px;">
                    <app-comapny-profile-heading [ProfileType]="0"></app-comapny-profile-heading>

                      <div style="padding: 2px;margin-bottom: 20px;">
                          <table style="border: 1px solid #f2f2f2; width: 100%;margin: 0;font-family: 'Inter', sans-serif;border-collapse: collapse;border-top: 1px solid #c9c6c6;border-left: 1px solid #c9c6c6;border-right: 1px solid #c9c6c6;border-bottom: 1px solid #c9c6c6;">
                              <thead>
                                  <tr>
                                      <th style="text-align: left;font-family: 'Inter', sans-serif; width:35%;padding: 6px 7px;font-size:20px;border-right: 0;background-color: #f2f2f2;color: #535b61;">STATEMENT OF ACCOUNT</th>
                                      <th style="padding: 6px 12px;border-right: 0;background-color: #f2f2f2;"></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td style="text-align: left;font-family: 'Inter', sans-serif;padding: 5px 12px 5px 12px;font-size:16px;border-top: 0;color: #535b61;">Transaction Period</td>
                                      <td style="text-align: right;font-weight:600;padding: 5px 12px 5px 12px;font-size:16px;border-top: 0;color: #535b61;">{{ledgerReportDetails.fromDate | customDate}} - {{ledgerReportDetails.toDate | customDate}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </header>

                  <div style="padding: 2px;margin-bottom: 20px;">
                      <table
                          style="border: 1px solid #f2f2f2; width: 100%;margin: 0;font-family: 'Inter', sans-serif;border-collapse: collapse;border-top: 1px solid #c9c6c6;border-left: 1px solid #c9c6c6;border-right: 1px solid #c9c6c6;border-bottom: 1px solid #c9c6c6;">
                          <tbody>
                              <tr>
                                  <th
                                      style="text-align: left;padding: 6px 12px;font-size:18px;border-right: 0;background-color: #f2f2f2;color: #535b61;">
                                      Account Details</th>
                                      <th>
                              </tr>
                              <tr>
                                  <th
                                      style="text-align: left;padding: 0px 12px;font-size:14px;border-right: 0;border-bottom: 0;color: #535b61;">
                                      <span>{{this.accountDetails?.accountCode}}</span> - <span>{{this.accountDetails?.accountHeadNameEnglish}}</span></th>
                              </tr>
                              <tr>
                                  <td
                                      style="text-align: left;padding: 5px 12px 5px 12px;font-size:15px;border-top: 0;color: #535b61;">
                                      <span>{{this.accountDetails?.groupNameEnglish}}</span> <b style="color: #f58220;">|</b> <span>{{this.accountDetails?.ledgerNameEnglish}}</span> <b style="color: #f58220;">|</b> <span>{{this.accountDetails?.subLedgerNameEnglish}}</span></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

                  <table style="width: 100%;font-family: 'Inter', sans-serif;border-collapse: collapse;">
                      <thead>
                          <tr>
                              <th
                                  style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: center;color: #535b61;font-family: 'Noto Kufi Arabic', sans-serif;border: 1px solid #c9c6c6;line-height: 16px;">
                                  Date</th>
                              <th
                                  style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: left;color: #535b61;font-family: 'Noto Kufi Arabic', sans-serif;border: 1px solid #c9c6c6;line-height: 16px;">
                                  Particulars</th>
                              <th
                                  style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: center;color: #535b61;font-family: 'Noto Kufi Arabic', sans-serif;border: 1px solid #c9c6c6;line-height: 16px;">
                                  Invoice No</th>

                              <th
                                  style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: right;color: #535b61;font-family: 'Noto Kufi Arabic', sans-serif;border: 1px solid #c9c6c6;line-height: 16px;">
                                  Debits</th>
                              <th
                                  style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: right;color: #535b61;font-family: 'Noto Kufi Arabic', sans-serif;border: 1px solid #c9c6c6;line-height: 16px;">
                                  Credits</th>
                              <th
                                  style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: right;color: #535b61;font-family: 'Noto Kufi Arabic', sans-serif;border: 1px solid #c9c6c6;line-height: 16px;">
                                  Balance</th>
                          </tr>
                      </thead>
                      <tbody >
                          <tr *ngFor="let item of ledgerReportList" >
                              <td style="text-align: center;font-size:14px;padding: 8px 12px;border: 1px solid #c9c6c6;">{{item?.accountTransactionDate | customDate}}</td>
                              <td style="text-align: left;font-size:14px;padding: 8px 12px;border: 1px solid #c9c6c6;"><br> {{item?.particulars}}</td>
                              <td style="text-align: center;font-size:14px;padding: 8px 12px;border: 1px solid #c9c6c6;">{{item?.transactionDocumentNo}}</td>
                              <td style="text-align: right;font-size:14px;padding: 8px 12px;border: 1px solid #c9c6c6;" [innerHTML]="item?.debits >=0 && item?.credits == 0?(item?.debits | customCurrency):''"></td>
                              <td style="text-align: right;font-size:14px;padding: 8px 12px;border: 1px solid #c9c6c6;" [innerHTML]="item?.credits >0?(item?.credits | customCurrency):''"></td>
                              <td style="text-align: right;font-size:14px;padding: 8px 12px;border: 1px solid #c9c6c6;" [innerHTML]="(item?.balance | customCurrency) | showCrDr:(item.balanceDebitCredit | translate)"></td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <th style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: left;color: #535b61;border: 1px solid #c9c6c6;" colspan="3">Total</th>
                              <th style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: right;color: #535b61;border: 1px solid #c9c6c6;" [innerHTML]="ledgerReportDetails?.totalDebits | customCurrency"></th>
                              <th style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: right;color: #535b61;border: 1px solid #c9c6c6;" [innerHTML]="ledgerReportDetails?.totalCredits | customCurrency"></th>
                              <th style="font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: right;color: #535b61;border: 1px solid #c9c6c6;"></th>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
