<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>{{'PURCHASE_RETURN.PURCHASE_RETURN_DETAIL' | translate}}</h1>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto">
      <button *hasClaim="'purchase_purchase_return_print_purchase_return'" class="btn blue-btn btn-sm m-right-10" (click)="generateInvoice()">
        <i class="fas fa-receipt"></i>  {{'COMMON.PRINT_INVOICE' | translate}}
      </button>
    </div>
  </div>
</div>
<br>
<ng-container *ngIf="purchaseReturn">
<app-comapny-profile-heading [ProfileType]="4" [branchUUID]="purchaseReturn.branchUUID"></app-comapny-profile-heading>
  <div class="row">
    <div class="col-md-6">
      <div class="invoice-detatable table-responsive"
        [ngClass]="{'invoice-detatable-ar':translationService.getSelectedLanguage()=='ar'}">
        <table>
          <tr>
            <th>{{'PURCHASE_RETURN.INVOICE_NO' | translate}}</th>
            <td>{{purchaseReturn?.invoiceNumber}}</td>
          </tr>
          <tr>
            <th>{{'PURCHASE_RETURN.INVOICE_DATE' | translate}}</th>
            <td>{{purchaseReturn?.invoiceDate | customDate}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="invoice-detatable table-responsive"
        [ngClass]="{'invoice-detatable-ar':translationService.getSelectedLanguage()=='ar'}">
        <table>
          <tr>
            <th>{{'PURCHASE_RETURN.TRANSACTION_MODE' | translate}}</th>
            <td>{{purchaseReturn?.transactionModeText}}</td>
          </tr>
          <tr>
            <th>{{'PURCHASE_RETURN.REF_BILL_NO' | translate}}</th>
            <td>{{purchaseReturn?.refInvNo}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="invoice-detatables table-responsive"
        [ngClass]="{'invoice-detatables-ar':translationService.getSelectedLanguage()=='ar'}">
        <table>
          <tr>
              <th style="font-size: 16px;">{{'COMMON.SUPPLIER_DETAILS' |translate}}</th>
          </tr>
          <tr>
              <th>{{translationService.getSelectedLanguage()=='en'?supplier.nameEnglish:supplier.nameSecondLanguage}}</th>
          </tr>
          <tr>
              <td>{{translationService.getSelectedLanguage()=='en'?supplier.addressEnglish:supplier.addressArabic}}</td>
          </tr>
          <tr>
              <td>{{'COMMON.PHONE_NO' | translate}}: {{supplier.phoneNo}}<br>
                {{'COMMON.MOBILE' | translate}}: {{supplier.mobileNo}}<br>
                {{'COMMON.EMAIL' | translate}}: <a href="mailto:{{supplier.email}}">{{supplier.email}}</a></td>
          </tr>
      </table>
      </div>
    </div>
  </div>
  <div class="content-header">
    <h1>{{'COMMON.LINE_ITEMS' |translate}}</h1>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead class="head">
        <tr>
          <th style="width:1%">{{'COMMON.#' | translate}}</th>
          <th>{{'COMMON.PRODUCT_NAME' | translate}}</th>
          <th>{{'COMMON.UNIT' |translate}}</th>
          <th>{{'PRODUCT.UNIT_COST' |translate}}</th>
          <th>{{'PRODUCT.QUANTITY' | translate}}</th>
          <th>{{'COMMON.RETURN_QUANTITY' | translate}}</th>
          <th>{{'PURCHASE_RETURN.DISCOUNT' | translate}}</th>
          <th>{{'PURCHASE_RETURN.TAX_AMOUNT' | translate}}</th>
          <th class="text-right">{{'PURCHASE_RETURN.TOTAL_AMOUNT' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchaseItem of purchaseReturnItems;let i=index">
          <ng-container>
            <td style="text-align: center;">{{i+1}}</td>
            <td>{{translationService.getSelectedLanguage()=='en'?purchaseItem?.productObject?.nameEnglish:purchaseItem?.productObject?.nameSecondLanguage}}</td>
            <td class="text-center">{{translationService.getSelectedLanguage()=='en'?purchaseItem?.unitObject?.nameEnglish:purchaseItem?.unitObject?.nameSecondLanguage}}</td>
            <td class="text-right" [innerHTML]="purchaseItem?.unitPrice | customCurrency"></td>
            <td class="text-center">{{purchaseItem?.quantity}}
            </td>
            <td class="text-center">{{purchaseItem?.returnQuantity}}
            </td>
            <td class="text-right" [innerHTML]="purchaseItem?.discountAmount | customCurrency"></td>
            <td class="text-right" [innerHTML]="purchaseItem?.vatAmount | customCurrency">
            </td>
            <td class="text-right" [innerHTML]="purchaseItem?.itemTotalAmount | customCurrency">
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <table style="width: 100%;font-family: 'Inter', sans-serif;border-collapse: collapse;">
      <tbody>
          <tr style="border: none;">
              <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;"
                  colspan="4"><b>Sub Total</b></td>
              <td
                  style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                  <b [innerHTML]="purchaseReturn?.subTotal | customCurrency"></b></td>
          </tr>
          <tr style="border: none;">
              <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;"
                  colspan="4"><b>Discount</b></td>
              <td
                  style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                  <b [innerHTML]="purchaseReturn?.totalDiscount | customCurrency"></b></td>
          </tr>
          <tr style="border: none;">
            <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;"
                colspan="4"><b>Taxable Amount</b></td>
            <td
                style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                <b [innerHTML]="purchaseReturn?.taxableAmount | customCurrency"></b></td>
        </tr>
          <tr style="border: none;">
              <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;"
                  colspan="4"><b>Total VAT</b></td>
              <td
                  style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                  <b [innerHTML]="purchaseReturn?.totalVat | customCurrency"></b></td>
          </tr>
          <tr style="border: none;">
              <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;"
                  colspan="4"><b>Total Expenses</b></td>
              <td
                  style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                  <b [innerHTML]="purchaseReturn?.totalExpenses | customCurrency"></b></td>
          </tr>
          <tr style="border: none;">
              <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;"
                  colspan="4"><b>Round Off</b></td>
              <td
                  style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                  <b [innerHTML]="purchaseReturn?.roundOff | customCurrency"></b></td>
          </tr>
          <tr style="border: none;">
              <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;"
                  colspan="4"><b>Net Total</b></td>
              <td
                  style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                  <b [innerHTML]="purchaseReturn?.netTotal | customCurrency"></b></td>
          </tr>
      </tbody>
  </table>
  </div>

</ng-container>



<ng-container *ngIf="purchaseReturnForPdf">
  <app-purchase-return-pdf [purchaseReturnPdf]="purchaseReturnForPdf" [companyProfilePdf]="companyProfileForPdf"></app-purchase-return-pdf>
</ng-container>
