<div class="page-header-main">
    <div class="row align-items-center">
        <div class="col-md-auto col-sm-auto">
            <div class="content-header">
                <h5>{{'ACCOUNTS.JOURNAL.JOURNAL_ITEMS_DETAIL'  | translate}}</h5>
            </div>
        </div>
    </div>
</div>
<div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="table-responsive">
    <table mat-table [dataSource]="journalDetail" class="table table-bordered table-hover">
        <ng-container matColumnDef="DrAccountName">
            <th mat-header-cell *matHeaderCellDef>{{'ACCOUNTS.JOURNAL.DR_ACCOUNT_NAME'  | translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element.drAccountObj.nameEnglish}}
            </td>
        </ng-container>
        <ng-container matColumnDef="CrAccountName">
            <th mat-header-cell *matHeaderCellDef>{{'ACCOUNTS.JOURNAL.CR_ACCOUNT_NAME'  | translate}}</th>
            <td mat-cell *matCellDef="let element">
                {{element?.crAccountObj?.nameEnglish}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef> {{'COMMON.AMOUNT' | translate}}</th>
            <td class="text-center" mat-cell *matCellDef="let element">
                {{element.amount}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Narration">
            <th mat-header-cell *matHeaderCellDef> {{'COMMON.NARRATION' | translate}} </th>
            <td mat-cell *matCellDef="let element">
                {{element.description}}
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>