<div class="topcustomer-chart">
  <h3>{{'DASHBOARD.TOP_CUSTOMERS' |translate}}</h3>
  <ng-container *ngIf="isLoading$">
    <app-dashboard-loader></app-dashboard-loader>
    </ng-container>

    <ng-container *ngIf="!isLoading$">
    <canvas *ngIf="topCustomersList?.length>0" baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [colors]="barChartColors"
    [legend]="barChartLegend"
    [chartType]="barChartType"></canvas>
    <div *ngIf="topCustomersList?.length<=0" class="dummyChart">
      <label >{{'COMMON.NO_DATA_FOUND' | translate}}</label>
    </div>
    </ng-container>
  </div>
