.payment-pos-details-img img {
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
  }
  .mat-mini-fab .mat-button-wrapper {
    padding: 0px 0px 6px 0px !important;
    transition: transform .2s;
  }
  .add-button-modal button:hover {
    transform: scale(.8);
  }