.invoice-detatables th, td {
  padding: 10px;
  border: 1px solid #d6d6d6;
  background-color: #FFF;
}
.invoice-detatable th, td {
  padding: 10px;
  border: 1px solid #d6d6d6;
  background-color: #FFF;
}
.page-header-main {
  margin: 0;
}
