<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header svg-icons">
        <h1><i class="icon60"></i> <span>POS Printer</span> </h1>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto">
      <button  class="btn blue-btn btn-sm m-right-10"
        [routerLink]="['/pos-printer/manage/add']">
        <i class="fas fa-plus"></i> Manage POS Printer
      </button>
    </div>
  </div>
  <div class="breadcrump-pages">
    <div class="crumbs-sec">
      <a [routerLink]="['/']" >Dashboard</a> / <span>POS Printer</span>
    </div>
  </div>
</div>


<div class="loading-shade" *ngIf="(dataSource.loading$ | async) ||isLoading$">
  <mat-spinner></mat-spinner>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">

      <table mat-table [dataSource]="dataSource" multiTemplateDataRows
        class="table table-bordered table-hover grid-height" matSort >

        <ng-container matColumnDef="action">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef>
          </th>
          <td class="table-column-150" mat-cell *matCellDef="let posPrinter">
                <button  class="ml-4"
              mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button  mat-menu-item
                [routerLink]="['/pos-printer/detail/', posPrinter.posPrinterUUID]">
                <mat-icon>info</mat-icon>
                <span>{{'COMMON.DETAIL' | translate}}</span>
              </button>
              <button  mat-menu-item
              [routerLink]="['/pos-printer/manage/', posPrinter.posPrinterUUID]">
              <mat-icon>edit</mat-icon>
              <span>{{'COMMON.EDIT' | translate}}</span>
            </button>
              <button   mat-menu-item (click)="deletePOSPrinter(posPrinter)">
                <mat-icon>delete</mat-icon>
                <span>{{'COMMON.DELETE' | translate}}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td class="table-column-150" mat-cell *matCellDef="let posPrinter">
           {{posPrinter.nameEnglish}}
          </td>
        </ng-container>

        <ng-container matColumnDef="modelName">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>Model Name</th>
          <td class="table-column-100" mat-cell *matCellDef="let posPrinter"> {{posPrinter.modelName}} </td>
        </ng-container>

        <ng-container matColumnDef="serialNo">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>Serial No</th>
          <td class="table-column-100" mat-cell *matCellDef="let posPrinter"> {{posPrinter.serialNo}} </td>
        </ng-container>

        <ng-container matColumnDef="ipAddress">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef mat-sort-header>IP Address</th>
          <td class="table-column-100" mat-cell *matCellDef="let posPrinter"> {{posPrinter.ipAddress}} </td>
        </ng-container>



        <ng-container matColumnDef="footer">
          <td mat-footer-cell colspan="12" *matFooterCellDef>
            <mat-paginator [length]="posPrinterResource.totalCount" [pageSize]="posPrinterResource.pageSize"
              [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
            </mat-paginator>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="footerToDisplayed;sticky: true"></tr>
      </table>
    </div>
  </div>
</div>
