.table-scrolls{
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    table {
      margin-bottom: 50px;
      // padding: 20px;
      thead{
          color: white;
          tr th{
         background-color: #8E8F93 !important;
      padding:10px 20px;
     }
    }}
  }