.form-group {
    margin-bottom: 0rem !important;
}
.report-tool-bar {
    margin-top: 0em !important;
}
label {
    margin-bottom: 0.2rem !important;
}
.btn:hover{
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}