<div class="modal-content1">
  <div class="modal-header">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <div class="col-md-9 col">
        <h4 class="modal-title">
          {{data.isDevice?'Device Bank Mapping':'Bank Mapping'}}
        </h4>
      </div>
      <div class="col-sm-auto col-auto ml-auto">
        <button type="button" class="close" data-dismiss="modal" (click)="onCancel(null)">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  

  <mat-dialog-content>
    <form [formGroup]="modalForm">
      <div class="modal-body bank-select">
        <div class="row">
          <ng-container *ngIf="data.isDevice">
            <div class="col-md-9">
              <div class="form-group">
                <mat-label>POS Device</mat-label>
                <mat-select class="form-control" formControlName="posDevices" [multiple]="data.isDeviceMultiple">
                  <mat-option *ngFor="let item of data.posDevices" [value]="item">{{item.nameEnglish}}</mat-option>
                </mat-select>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="data.isBank">
          <div class="col-md-9">
            <div class="form-group">
              <mat-label>Banks</mat-label>
              <mat-select class="form-control" formControlName="banks" [multiple]="data.isBankMultiple">
                <mat-option *ngFor="let item of data.banks" [value]="item">{{item.nameEnglish}}</mat-option>
              </mat-select>
            </div>
          </div>
          </ng-container>
          <ng-container *ngIf="data.isPosPrinter">
          <div class="col-md-9">
            <div class="form-group">
              <mat-label>POS Printer</mat-label>
              <mat-select class="form-control" formControlName="posPrinters" [multiple]="data.isPosPrinterMultiple">
                <mat-option *ngFor="let item of data.posPrinters" [value]="item">{{item.nameEnglish}}</mat-option>
              </mat-select>
            </div>
          </div>
          </ng-container>
        <div class="col-md-3">
          <div class="">
            <ng-container>
              <mat-label>&nbsp;&nbsp;&nbsp;</mat-label>
              <button class="btn blue-btn m-right-10" type="button" (click)="add()">
                <i class="icon61"></i>
                {{'COMMON.ADD' |translate}}
              </button>
            </ng-container>
    
          </div>
        </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <!-- <mat-dialog-actions>
    
  </mat-dialog-actions> -->
</div>
