<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header svg-icons" [ngClass]="{'content-header-ar':translationService.getSelectedLanguage()=='ar'}">
        <h1 *ngIf="!emailTemplate"><i class="icon3"></i>
          <span>{{'ADD_EMAIL_TEMPLATE' | translate }}</span>
        </h1>
        <h1 *ngIf="emailTemplate"><i class="icon3"></i>
          <span>{{'EDIT_EMAIL_TEMPLATE' | translate }}</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="breadcrump-pages" [ngClass]="{'breadcrump-pages-ar':translationService.getSelectedLanguage()=='ar'}">
    <div class="crumbs-sec">
      <a [routerLink]="['/emailtemplate']" >{{'EMAIL_TEMPLATE' | translate }}</a> / <span>{{'ADD_EMAIL_TEMPLATE' | translate }}</span>
    </div>
  </div>
</div>
<form [formGroup]="emailTemplateForm" [ngClass]="{'form-label-ar':translationService.getSelectedLanguage()=='ar'}">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group ">
        <label class="text-danger"> {{'NAME' | translate }} *</label>
        <input formControlName="name" class="form-control" type="text">
        <div *ngIf="emailTemplateForm.get('name').dirty && emailTemplateForm.get('name').errors">
          <div class="text-danger" *ngIf="emailTemplateForm.get('name').errors?.required">
            {{'EMAIL_TEMPLATE_NAME_IS_REQUIRED' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group ">
        <label class="text-danger">Subject *</label>
        <input formControlName="subject" class="form-control" type="text">
        <div *ngIf="emailTemplateForm.get('subject').dirty && emailTemplateForm.get('subject').errors">
          <div class="text-danger" *ngIf="emailTemplateForm.get('subject').errors?.required">
            {{'SUBJECT_IS_REQUIRED' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group ">
        <label class="text-danger">
          {{'BODY' | translate }} *
          <span class="text-danger">
            {{'WORD_MUST_BE_START_AND_END_WITH' | translate }}
          </span>
        </label>
        <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
        <div *ngIf="emailTemplateForm.get('body').dirty && emailTemplateForm.get('body').errors">
          <div class="text-danger" *ngIf="emailTemplateForm.get('body').errors?.required">
            {{'BODY_IS_REQUIRED' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-2 col-md-12 text-center">
      <ng-container *ngIf="emailTemplate">
        <button class="btn btn-success btn-sm m-right-10 m-left-10" (click)="addUpdateEmailTemplate()" cdkFocusInitial><i
            class="las la-save"></i>
          {{'SAVE' | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="!emailTemplate">
        <button class="btn btn-success btn-sm m-right-10 m-left-10" (click)="addUpdateEmailTemplate()" cdkFocusInitial><i
            class="las la-save"></i>
          {{'SAVE' | translate }}
        </button>
      </ng-container>
      <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/emailtemplate']">
        <i class="las la-times-circle"></i>
        {{'CANCEL' | translate }}
      </button>
    </div>
  </div>
</form>
