table.mat-table {
    border-spacing: 0;
    display: table !important;
    width: 100% !important;
}
.content-header h1 i {
    display: list-item;
    position: absolute;
    padding-right: 18px;
    background-color: #f58220 !important;
  }
  .content-header h1 span {
    margin-left: 25px;
  }
  .table-container {
    overflow: auto;
  }

  .sticky-head, .mat-footer-row {
    position: sticky;
    top: 0;
    background-color: white; /* Adjust as needed */
    z-index: 2;
  }
  .sticky-headfilter{
    position: sticky;
    top: 55px;
    background-color: white; /* Adjust as needed */
    z-index: 2;
  }
  .mat-table thead, .mat-table tbody, .mat-table tfoot, mat-header-row, mat-row, mat-footer-row, [mat-header-row], [mat-row], [mat-footer-row], .mat-table-sticky {
    height: 50px;
}
