<div style="position:absolute;left:-15420px">
    <div style="width:100%;display:flex;">
        <div class="invoice-container-wrap" id="VATReport">
            <div style="width: 880px;padding: 20px 15px;margin: 15px auto;position: relative;z-index: 5;">
                <div style="position: relative;z-index: 4;background-color: #FFF;">
                    <div style="padding: 20px;">
                        <header style="margin-bottom: 20px;">
                            <app-comapny-profile-heading [ProfileType]="0"></app-comapny-profile-heading>
                                <div style="display: grid;grid-template-columns: auto auto;">
                                    <div
                                        style="text-align: left;font-size:25px;font-weight:600;font-family: 'Inter', sans-serif;color: #535b61;">
                                        Yearly Input Tax Statement (Detailed) 2023</div>
                                    <div
                                        style="text-align: right;font-size:25px;font-weight:600;font-family: 'Noto Kufi Arabic', sans-serif;color: #535b61;line-height: 25px;">
                                        بيان ضريبة المدخلات السنوي (مفصل)
        2023</div>
                                </div>
                        </header>
        
        
                        <table style="width: 100%;font-family: 'Inter', sans-serif;border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th rowspan="2" style="border: 1px solid #b5b5b5;font-family: 'Noto Kufi Arabic', sans-serif;font-size:18px;background-color: #f2f2f2;padding: 6px 12px;text-align: left;color: #535b61;    line-height: 16px;">Month <br> <span style="font-size: 14px;">تار</span></th>
        
                                    <th colspan="2" style="border: 1px solid #b5b5b5;font-family: 'Noto Kufi Arabic', sans-serif;font-size:18px;background-color: #f2f2f2;padding: 6px 12px;text-align: center;color: #535b61;    line-height: 16px;" *ngFor="let item of detailedTax?.taxSlabs">{{item}}%</th>
                                    <th rowspan="2" style="border: 1px solid #b5b5b5;font-family: 'Noto Kufi Arabic', sans-serif;font-size:18px;background-color: #f2f2f2;padding: 6px 12px;text-align: right;color: #535b61;    line-height: 16px;">Total Purchase <br> <span style="font-size: 14px;">إجمالي الشراء</span></th>
                                </tr>
                                <tr>
                                    <ng-container *ngFor="let item of detailedTax?.taxSlabs">
                                    <th style="border: 1px solid #b5b5b5;font-family: 'Noto Kufi Arabic', sans-serif;font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: center;color: #535b61;    line-height: 16px;">Purchase</th>
        
                                    <th  style="border: 1px solid #b5b5b5;font-family: 'Noto Kufi Arabic', sans-serif;font-size:14px;background-color: #f2f2f2;padding: 6px 12px;text-align: center;color: #535b61;    line-height: 16px;">
                                    Tax</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of detailedTax?.taxDetails">
                                    <td style="border: 1px solid #b5b5b5;text-align: left;color:#F00;font-size:14px;padding: 8px 12px;">{{item?.month}} </td>
                                    <ng-container *ngFor="let tax of detailedTax?.taxSlabs">
                                    <td style="border: 1px solid #b5b5b5;text-align: center;font-size:14px;padding: 8px 12px;"  [innerHTML]="(item?.taxes | vatFilter:tax:'taxableAmount') | customCurrency"></td>
                                    <td style="border: 1px solid #b5b5b5;text-align: center;font-size:14px;padding: 8px 12px;" [innerHTML]="(item?.taxes | vatFilter:tax:'taxAmount') | customCurrency"></td>
                                    </ng-container>
                                    <td style="border: 1px solid #b5b5b5;text-align: right;font-size:14px;padding: 8px 12px;" [innerHTML]="item?.totalTaxableAmount | customCurrency"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="border: 1px solid #b5b5b5;text-align: left;font-size:14px;padding: 8px 12px;">TOTAL</th>
                                    <ng-container *ngFor="let tax of detailedTax?.taxSlabs">
                                    <th style="border: 1px solid #b5b5b5;text-align: center;font-size:14px;padding: 8px 12px;" [innerHTML]="(detailedTax?.taxTotal | vatFilter:tax:'totalTaxableAmount') | customCurrency" ></th>
                                    <th style="border: 1px solid #b5b5b5;text-align: center;font-size:14px;padding: 8px 12px;" [innerHTML]="(detailedTax?.taxTotal | vatFilter:tax:'totalTaxAmount') | customCurrency" ></th>
                                </ng-container>
                                    <th style="border: 1px solid #b5b5b5;text-align: center;font-size:14px;padding: 8px 12px;"  [innerHTML]="detailedTax?.totalTaxableAmount | customCurrency"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>