.login-logo {
    max-height: 90px;
    margin-bottom: 0 !important;
}
.company-name {
  background-color: #f58220;
  width: 100%;
  text-align: center;
  color: #FFF;
  margin: 10px 0px;
  padding: 5px 0px;
  border-radius: 5px;
}
.company-name h3 {
  font-size: 16px;
  margin-bottom: 0;
}
.version-deals p {
  text-align: center;
  color: #999;
  padding-top: 20px;
}
