.login-logo {
  max-height: 90px;
  margin-bottom: 0 !important;
}
.company-name {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
  padding: 5px 0px;
  border-radius: 5px;
}
.company-name h3 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 37.5px;
  text-align: left;
  
}
.version-deals p {
  text-align: center;
  color: #999;
  padding-top: 20px;
}
