<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>{{'PAGE_ACTION' | translate}}</h1>
      </div>
    </div>
  </div>
</div>
<div class=" mb-3 w-25">
  <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search by name" />
</div>

<table class="table table-bordered page-action-box">
  <!-- <thead>
    <tr>
      <th>#</th>
      <th *ngFor='let action of actions;' scope="col">
        {{action.name}}
      </th>
    </tr>
  </thead> -->
  <tbody>
    <tr *ngFor='let page of pages | pageSearch:searchQuery;'>
      <td>
        <div class="row">
          <div class="col-sm-12">
            <h5> {{page.name}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2" *ngFor='let action of actions'>
            <mat-slide-toggle (change)="onPageActionChange($event,page.id,action.id)"
              [checked]="onCheck(page.id,action.id)">
              {{action.name}}
            </mat-slide-toggle>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
