<div class="close-btn-modal" (click)="onNoClick()">
  <i class="fa fa-times"></i>
</div>
<div class="container">
  <h3 mat-dialog-title>{{'USERS.CHANGE_PASSWORD' | translate}}</h3>
  <div mat-dialog-content>
    <form [formGroup]="changePasswordForm">
      <div class="col-md-12">
        <div class="form-group">
          <label>{{'USERS.EMAIL' | translate}}</label>
          <input [attr.disabled]="true" formControlName="email" class="form-control" type="email">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="text-danger">{{'USERS.CURRENT_PASSWORD' | translate}} *</label>
          <input autocomplete="new-password" formControlName="oldPasswordPassword" class="form-control" type="password">
          <div
            *ngIf="changePasswordForm.get('oldPasswordPassword').touched && changePasswordForm.get('oldPasswordPassword').errors">
            <div *ngIf="changePasswordForm.get('oldPasswordPassword').errors?.required">
              {{'VALIDATIONS.CURRENT_PASSWORD_IS_REQUIRED' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="text-danger">{{'USERS.NEW_PASSWORD' | translate}} *</label>
          <input autocomplete="new-password" formControlName="password" class="form-control" type="password">
          <div *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').errors">
            <div *ngIf="changePasswordForm.get('password').errors?.required">
              {{'VALIDATIONS.PASSWORD_IS_REQUIRED' | translate}}
            </div>
            <div *ngIf="changePasswordForm.get('password').errors?.minlength">
              {{'VALIDATIONS.YOU_HAVE_TO_ENTER_AT_LEAST_6_DIGIT' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="text-danger">{{'USERS.CONFIRM_PASSWORD' | translate}} *</label>
          <input autocomplete="new-password" formControlName="confirmPassword" class="form-control" type="password">
          <div
            *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.get('confirmPassword').errors">
            <div *ngIf="changePasswordForm.get('confirmPassword').errors?.required">
              {{'VALIDATIONS.CONFIRM_PASSWORD_IS_REQUIRED' | translate}}
            </div>
          </div>
          <div *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.hasError('notSame')">
            {{'VALIDATIONS.PASSWORDS_DO_NOT_MATCH' | translate}}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button class="btn btn-success btn-sm m-right-10" (click)="changePassword()" cdkFocusInitial><i
        class="fas fa-save"></i> {{'COMMON.SAVE' | translate}}</button>
    <button class="btn btn-danger btn-sm" (click)="onNoClick()"><i class="fas fa-times-circle"></i> {{'COMMON.CANCEL' |
      translate}}</button>
  </div>
</div>
