<div class="modal-content1">
  <div class="modal-body">
    <h5 class="primary-message" md-dialog-title>{{primaryMessage}}</h5>
  </div>
  <div class="modal-footer">
    <div class="form-row w-100">
      <div class="col-md-12 col-12 d-flex justify-content-center">
        <button class="btn blue-btn m-right-10" (click)="clickHandler(true)"><i class="fas fa-check"></i>
          {{'COMMON.YES' | translate}}</button>
        <button class="btn btn-danger" (click)="clickHandler(false)"><i class="fas fa-times"></i>
          {{'COMMON.CANCEL' | translate}}</button>
      </div>
    </div>
  </div>

</div>