<div class="topcustomer-chart">
  <!-- <h3>Sales & Purchase</h3> -->
  <div class="chart-wrapper">
  <ng-container *ngIf="isLoading$">
    <app-dashboard-loader></app-dashboard-loader>
  </ng-container>
  <ng-container *ngIf="!isLoading$">
      
  <div class="chart-container">
    <span class="title">Sales & Purchase</span>
  <canvas baseChart 
    [data]="chartData" 
    [type]="pieChartType"
    [options]="pieChartOptions">
  </canvas>
    </div>
    <div class="custom-legend">
      <div class="legend-item">
       
        <div class="legend-label">
          <span class="legend-color" style="background-color: #FC8118;"></span>
          &nbsp;
          <span>Total Sales</span>
        </div>
       
        <span class="legend-value">₹{{salesTotal | number}}</span>
      </div>
      <div class="legend-separator"></div>

      <div class="legend-item">
        
        <div class="legend-label">
          <span class="legend-color" style="background-color: #46332E;"></span>
          &nbsp;
          <span>Total Purchase</span>
       
        </div>
        
        <span class="legend-value">₹{{purchaseTotal | number}}</span>
      </div>
    </div>
    
  </ng-container>
  </div>
</div>