.w-90 {
  width: 90% !important;
}
::ng-deep .mat-icon-button {
  height: 18px !important;
  width: 19px !important;
  line-height: 20px !important;
}
table.mat-table {
  border-spacing: 0;
  display: table !important;
  width: 100% !important;
}
