.manage-add-btn {
  margin-right: 5px;
  padding: 0 !important;
  margin-bottom: 0 !important;
}
.manage-add-btn .mat-icon {
  line-height: 0;
  padding-top: 11px;
}
.manage-delete-btn {
  margin-right: 5px;
  padding: 0 !important;
  margin-bottom: 0 !important;
}
.manage-delete-btn .mat-icon {
  line-height: 0;
  padding-top: 11px;
}
.manage-voucher-table th {
  background-color: #f58220 !important;
  color: #FFF;
}
