h3.count-message {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.countdown-mssg {
  text-align: center;
  padding-top: 10px;
}
.countdown-mssg span {
  font-size: 30px;
  color: #ff3b42;
  position: relative;
  top: 4px;
}
