<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header svg-icons" [ngClass]="{'content-header-ar':translate.getSelectedLanguage()=='ar'}">
        <h1>{{'ACCOUNTS.PAYMENT_VOUCHER.MANAGE_PAYMENT_VOUCHER' | translate}}</h1>
      </div>
    </div>
  </div>
  <div class="breadcrump-pages" [ngClass]="{'breadcrump-pages-ar':translate.getSelectedLanguage()=='ar'}">
    <div class="crumbs-sec">
      <a [routerLink]="['/']">{{'SIDEBAR.DASHBOARD' | translate}}</a><i class="chevron-icon"></i><a
        [routerLink]="['/paymentVoucher']">{{'SIDEBAR.PAYMENT_VOUCHER' | translate}}</a><i class="chevron-icon"></i>
      <span>{{'ACCOUNTS.PAYMENT_VOUCHER.MANAGE_PAYMENT_VOUCHER' | translate}}</span>
    </div>
  </div>
</div>

<div class="loading-shade" *ngIf="isLoading$ |async">
  <mat-spinner></mat-spinner>
</div>


<form [formGroup]="paymentVoucherForm">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="section-boxed">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="form-group">
              <label>{{'ACCOUNTS.PAYMENT_VOUCHER.PAYMENT_VOUCHER_NO' | translate}}<span class="text-danger">*</span></label>
              <input formControlName="docNo" class="form-control w-100" type="text">
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="form-group">
              <date-input [group]="paymentVoucherForm" [controlName]="'docDate'"
                [label]="'ACCOUNTS.PAYMENT_VOUCHER.PAYMENT_VOUCHER_DATE'"
                [validationMessage]="'VALIDATIONS.PLEASE_CHOOSE_FROM_DATE'" [isMandatory]="true"></date-input>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="form-group">
              <app-transaction-mode-dropdown [controlName]="'transactionMode'"  [group]="paymentVoucherForm"></app-transaction-mode-dropdown>
            </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>{{'COMMON.REMARKS' | translate}}</label>
              <textarea class="form-control w-100" cols="30" rows="2" formControlName="description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="section-boxed">
        <div class="table-responsive manage-voucher-table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Account Head</th>
                <th style="width:12%">Amount</th>
                <th style="width:34%">Remarks</th>
                <th style="width:14%">Action</th>
              </tr>
            </thead>
            <tbody formArrayName="accountVoucherDetails">
              <tr *ngFor="let row of tableRows.controls; let i = index" [formGroupName]="i">
                <td>
                  <div class="form-group">
                    <mat-select placeholder="" class="w-100 form-control" formControlName="accountUUID">
                      <input class="form-control w-100"  (keydown.space)="$event.stopPropagation()" type="text"
                      autocomplete="off" placeholder="search by code or name" [formControl]="searchControl">
                      <mat-option  *ngFor="let item of accountHeadList" [value]="item.accountUUID">{{item.accountCode}} - {{item.nameEnglish}}</mat-option>
                    </mat-select>
                    <div  *ngIf="paymentVoucherForm.get('accountVoucherDetails').get(i.toString()).get('accountUUID').hasError('required') && paymentVoucherForm.get('accountVoucherDetails').get(i.toString()).get('accountUUID').touched">
                    <small class="text-danger"> Account Head is required</small> 
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <input class="form-control w-100" formControlName="amount" type="number" />
                    <div  *ngIf="paymentVoucherForm.get('accountVoucherDetails').get(i.toString()).get('amount').hasError('required') && paymentVoucherForm.get('accountVoucherDetails').get(i.toString()).get('amount').touched">
                      <small class="text-danger"> Amount is required</small> 
                      </div>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <textarea class="form-control w-100" cols="30" accountVoucherDetails="2" formControlName="description"></textarea>
                  </div>
                </td>
                <td>
                  <div class="col-md-12 m-bottom-40 d-flex align-items-center justify-content-between">
                    <button class="manage-add-btn"aria-label="Example icon button with a menu icon"
                      (click)="addRow()">
                      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 5.00012V10.0001M10.5 7.50012H5.5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14.25 7.50012C14.25 4.04834 11.4517 1.25012 8 1.25012C4.54822 1.25012 1.75 4.04834 1.75 7.50012C1.75 10.9519 4.54822 13.7501 8 13.7501C11.4517 13.7501 14.25 10.9519 14.25 7.50012Z" stroke="white"/>
                        </svg> Add
                    </button>
                    <button class="manage-delete-btn" *ngIf="tableRows.controls.length>1"
                      aria-label="Example icon button with a menu icon" (click)="removeRow(i)">
                      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 4.16669L12.5869 10.8501C12.4813 12.5576 12.4285 13.4114 12.0005 14.0253C11.7889 14.3288 11.5165 14.5849 11.2005 14.7774C10.5614 15.1667 9.706 15.1667 7.99513 15.1667C6.28208 15.1667 5.42553 15.1667 4.78603 14.7766C4.46987 14.5838 4.19733 14.3272 3.98579 14.0232C3.55792 13.4084 3.5063 12.5534 3.40307 10.8435L3 4.16669" stroke="white" stroke-linecap="round"/>
                        <path d="M2 4.16665H14M10.7038 4.16665L10.2487 3.2278C9.9464 2.60415 9.7952 2.29233 9.53447 2.09785C9.47667 2.05471 9.4154 2.01634 9.35133 1.98311C9.0626 1.83331 8.71607 1.83331 8.023 1.83331C7.31253 1.83331 6.95733 1.83331 6.66379 1.98939C6.59873 2.02399 6.53665 2.06391 6.47819 2.10876C6.21443 2.31111 6.06709 2.63435 5.77241 3.28082L5.36861 4.16665" stroke="white" stroke-linecap="round"/>
                        <path d="M6.3335 11.5V7.5" stroke="white" stroke-linecap="round"/>
                        <path d="M9.6665 11.5V7.5" stroke="white" stroke-linecap="round"/>
                        </svg> Delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      <div class="section-boxed">
        <div class="manage-voucher text-right">
          <button *hasClaim="['account_payment_voucher_create_payment_voucher','account_payment_voucher_edit_payment_voucher']" mat-raised-button class="blue-btn" (click)="saveVoucher()">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 9.00047V10.9085C3 13.3423 3 14.5592 3.66455 15.3834C3.79881 15.5499 3.95048 15.7016 4.117 15.8359C4.94123 16.5005 6.15811 16.5005 8.59185 16.5005C9.12105 16.5005 9.38557 16.5005 9.6279 16.415C9.6783 16.3971 9.72765 16.3767 9.77587 16.3536C10.0077 16.2428 10.1947 16.0557 10.5689 15.6815L14.1213 12.1291C14.5549 11.6956 14.7716 11.4788 14.8858 11.2031C15 10.9275 15 10.6209 15 10.0078V7.50047C15 4.67201 15 3.2578 14.1213 2.37912C13.327 1.58475 12.0949 1.50853 9.77587 1.50122M9.75 16.1255V15.7505C9.75 13.6291 9.75 12.5684 10.409 11.9094C11.068 11.2505 12.1287 11.2505 14.25 11.2505H14.625" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9 4.49976H3M6 1.49976V7.49975" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            {{'COMMON.SAVE'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
