.manage-add-btn,.manage-delete-btn {
  // margin-right: 5px;
  padding:2px 20px !important;
  margin-bottom: 0 !important;
  background-color: #00AC45;
  border: none;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap:10px;
}
.manage-delete-btn{
  background-color: red;
}
.manage-add-btn .mat-icon {
  // line-height: 0;
  // padding-top: 11px;
}
.manage-delete-btn {
  // margin-right: 5px;
  // padding: 0 !important;
  // margin-bottom: 0 !important;
}
// .manage-delete-btn .mat-icon {
//   line-height: 0;
//   padding-top: 11px;
// }
.manage-voucher-table th {
  background-color: #8E8F93 !important;
  color: #FFF;
}
.manage-voucher-table{
  border-radius: 20px !important;
}
