<div class="modal-content1" [ngClass]="{'modal-content-ar':translationService.getSelectedLanguage()=='ar'}">
    <div class="modal-header">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <div class="col-md-9 col">
                <h4 class="modal-title">
                 Manage Subcategory
                </h4>
            </div>
            <div class="col-sm-auto col-auto ml-auto">
                <button type="button" class="close" data-dismiss="modal" (click)=" onCancel(false)">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <form [formGroup]="subcategoryForm" [ngClass]="{'form-label-ar':translationService.getSelectedLanguage()=='ar'}">
        <div class="modal-body modal-manage">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <!-- <label>{{'COMMON.CATEGORY' | translate}} <span class="text-danger">*</span></label>
                        <mat-select placeholder="" class="w-100 form-control"
                            formControlName="categoryUUID" (selectionChange)="changeStockValue($event.value)">
                            <mat-option *ngFor="let item of categories" [value]="item.categoryUUID">{{item.nameEnglish}}</mat-option>
                        </mat-select> -->
            <app-category-dropdown [group]="subcategoryForm" [controlName]="'categoryUUID'" [isMandatory]="true" ></app-category-dropdown>

                    </div>
                    <div class="form-group">
                        <label for="nameEnglish">{{'SUBCATEGORY.NAME_ENGLISH' | translate}} <span class="text-danger">*</span></label>
                        <input formControlName="nameEnglish" type="text" class="form-control" id="unitName">
                    </div>
                    <!-- <div class="form-group">
                        <label for="nameEnglish"> {{'SUBCATEGORY.NAME_ARABIC' | translate}}</label>
                        <input formControlName="nameSecondLanguage" type="text" class="form-control text-arabics" id="unitName">
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="code">{{'SUBCATEGORY.CODE' | translate}} <span class="text-danger">*</span></label>
                        <input formControlName="code" [readonly]="isEdit" type="text" class="form-control" id="unitName">
                    </div> -->
                    <div class="form-group">
                        <label for="descriptionEnglish">{{'COMMON.DESCRIPTION_ENGLISH' | translate}}</label>
                        <textarea class="form-control"  formControlName="descriptionEnglish" rows="4"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="descriptionArabic">{{'COMMON.DESCRIPTION_ARABIC' | translate}}</label>
                        <textarea class="form-control text-arabics"  formControlName="descriptionSecondLanguage" rows="4"></textarea>
                    </div> -->
                    <div class="form-group" >
                        <label for="unitName">AllowNonStock </label>
                        <mat-slide-toggle formControlName="allowNonStock" class="active-togle">{{ (allowNonStock ? 'COMMON.YES' : 'COMMON.NO') | translate }}</mat-slide-toggle>
                    </div>
                    <div class="form-group">
                        <label for="unitName">AllowZeroPrice </label>
                        <mat-slide-toggle formControlName="allowZeroPrice" class="active-togle">{{ (allowZeroPrice ? 'COMMON.YES' : 'COMMON.NO') | translate }}</mat-slide-toggle>
                    </div>
                    <div class="form-group" *ngIf="isEdit">
                        <label for="unitName">{{'COMMON.IS_ACTIVE' | translate}}</label>
                        <mat-slide-toggle formControlName="isActive" class="active-togle">{{ (isActive ? 'COMMON.ACTIVE' : 'COMMON.INACTIVE') | translate }}</mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-row w-100">
                <div class="text-center w-100">
                    <ng-container>
                        <button class="btn btn-success btn-sm m-right-10" (click)="saveSubcategory()">
                            <i class="fas fa-save"></i>
                            {{'COMMON.SAVE' |translate}}
                        </button>
                    </ng-container>
                    <button class="btn btn-danger btn-sm" (click)=" onCancel(false)">
                        <i class="fas fa-times-circle"></i>
                         {{'COMMON.CANCEL' |translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
