<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div
        class="content-header svg-icons"
        [ngClass]="{
          'content-header-ar': translationService.getSelectedLanguage() == 'ar'
        }"
      >
        <h1>{{ "SIDEBAR.PURCHASE_RETURN" | translate }}</h1>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto">
      <!-- *hasClaim="'product_product_create_product'" -->
      <button
        class="btn blue-btn btn-sm m-right-10"
        [routerLink]="['/purchase-return/manage/add']"
      >
        {{ "PURCHASE_RETURN.ADD_PURCHASE_RETURN" | translate }}
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 8V16M16 12H8"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M2.5 12C2.5 7.52166 2.5 5.28249 3.89124 3.89124C5.28249 2.5 7.52166 2.5 12 2.5C16.4783 2.5 18.7175 2.5 20.1088 3.89124C21.5 5.28249 21.5 7.52166 21.5 12C21.5 16.4783 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4783 2.5 12Z"
            stroke="white"
            stroke-width="1.5"
          />
        </svg>
      </button>
    </div>
  </div>
  <div
    class="breadcrump-pages"
    [ngClass]="{
      'breadcrump-pages-ar': translationService.getSelectedLanguage() == 'ar'
    }"
  >
    <div class="crumbs-sec">
      <a [routerLink]="['/']">{{ "SIDEBAR.DASHBOARD" | translate }}</a>
      <i class="chevron-icon"></i>
      <span>{{ "SIDEBAR.PURCHASE_RETURN" | translate }}</span>
    </div>
  </div>
</div>
<div class="loading-shade" *ngIf="(dataSource.loading$ | async) || isLoading$">
  <mat-spinner></mat-spinner>
</div>

<form
  autocomplete="off"
  [formGroup]="searchForm"
  (ngSubmit)="onSearchSubmit()"
  [ngClass]="{
    'form-label-ar': translationService.getSelectedLanguage() == 'ar'
  }"
>
  <div class="filter-sec mb-4">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3">
            <app-branch-dropdown
              [group]="searchForm"
              [controlName]="'branchUUID'"
              (branchUUID)="parentBranchHandlerFunction($event)"
            ></app-branch-dropdown>
          </div>
          <!-- <div class="col-md-3">
            <app-device-dropdown
              [branch]="branchUUID"
              [group]="searchForm"
              [controlName]="'deviceUUID'"
            ></app-device-dropdown>
          </div> -->
          <div class="col-md-3">
            <date-input
              [group]="searchForm"
              [controlName]="'fromDate'"
              [label]="'COMMON.FROM'"
              [validationMessage]="'VALIDATIONS.PLEASE_CHOOSE_FROM_DATE'"
              [isMandatory]="true"
            ></date-input>
          </div>
          <div class="col-md-3">
            <date-input
              [group]="searchForm"
              [controlName]="'toDate'"
              [label]="'COMMON.TO'"
              [validationMessage]="'VALIDATIONS.PLEASE_CHOOSE_TO_DATE'"
              [isMandatory]="true"
            ></date-input>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="filter-search">
          <button type="submit" class="btn blue-btn btn-sm m-right-10">
            {{ "COMMON.SEARCH" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <div class="filter-group">
        <div class="form">
          <i class="fa fa-search"></i>
          <input
            type="text"
            class="form-control form-input"
            placeholder="Search Invoice No"
            [(ngModel)]="docNoFilter"
          />
        </div>
       
        <!-- <input
          class="form-control"
          placeholder=""
          id="poCreatedDate"
          [owlDateTimeTrigger]="poCreatedDate"
          [(ngModel)]="docDateFilter"
          [owlDateTime]="poCreatedDate"
          placeholder="Invoice Date"
        />
        <owl-date-time [pickerType]="'calendar'" #poCreatedDate></owl-date-time> -->

        <!-- <label for="choose">Sort by</label> &nbsp;
          <svg width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 12C2.5 7.52166 2.5 5.28249 3.89124 3.89124C5.28249 2.5 7.52166 2.5 12 2.5C16.4783 2.5 18.7175 2.5 20.1088 3.89124C21.5 5.28249 21.5 7.52166 21.5 12C21.5 16.4783 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4783 2.5 12Z" stroke="#4A4A4A" stroke-width="1.5" stroke-linejoin="round"/>
            <path d="M6 9H9.5M17 9H18M12 8V10M14.5 8V10" stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18 15H12M7 15H6M9.5 14V16" stroke="#4A4A4A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Filters -->
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="table table-bordered table-hover grid-height"
        matSort
        matSortActive="docNo"
      >
        <ng-container matColumnDef="action">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef></th>
          <td class="table-column-150" mat-cell *matCellDef="let po">
            <button
              class="ml-4"
              *hasClaim="'purchase_purchase_return_view_purchase_return'"
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Action"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <ng-container
              *hasClaim="'purchase_purchase_return_list_purchase_return_items'"
            >
              <i
                class="fas fa-chevron-right btn"
                *ngIf="po != expandedElement"
                (click)="toggleRow(po)"
              ></i>
              <i
                class="fas fa-chevron-down btn"
                *ngIf="po == expandedElement"
                (click)="toggleRow(po)"
              ></i>
            </ng-container>

            <mat-menu #menu="matMenu">
              <button
                *hasClaim="'purchase_purchase_return_view_purchase_return'"
                mat-menu-item
                [routerLink]="[
                  '/purchase-return/detail/',
                  po.purchaseReturnUUID
                ]"
              >
                <i class="info-icon"></i>
                <span>{{ "COMMON.DETAIL" | translate }}</span>
              </button>
              <hr />
              <button
                mat-menu-item
                [routerLink]="[
                  '/purchase-return/manage/',
                  po.purchaseReturnUUID
                ]"
              >
                <i class="edit-icon"></i>
                <span>{{ "COMMON.EDIT" | translate }}</span>
              </button>
              <hr />
              <button mat-menu-item (click)="deletePurchaseReturn(po)">
                <i class="delete-icon"></i>
                <span>{{ "COMMON.DELETE" | translate }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <ng-container matColumnDef="docDate">
          <th
            class="table-column-100"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            {{ "PURCHASE_RETURN.INVOICE_DATE" | translate }}
          </th>
          <td class="table-column-100" mat-cell *matCellDef="let po">
            {{ po?.invoiceDate | customDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="docNo">
          <th
            class="table-column-150"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            {{ "PURCHASE_RETURN.INVOICE_NO" | translate }}
          </th>
          <td class="table-column-150" mat-cell *matCellDef="let po">
            {{ po?.invoiceNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="supplierName">
          <th class="table-column-150" mat-header-cell *matHeaderCellDef>
            {{ "PURCHASE_RETURN.SUPPLIER_NAME" | translate }}
          </th>
          <td class="table-column-100" mat-cell *matCellDef="let po">
            {{
              translationService.getSelectedLanguage() == "en"
                ? po?.supplier.nameEnglish
                : po?.supplier.nameSecondLanguage
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="transactionMode">
          <th class="table-column-300" mat-header-cell *matHeaderCellDef>
            {{ "PURCHASE_RETURN.TRANSACTION_MODE" | translate }}
          </th>
          <td class="table-column-300" mat-cell *matCellDef="let po">
            {{ po?.transactionModeText }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalDiscount">
          <th mat-header-cell *matHeaderCellDef>
            {{ "PURCHASE_RETURN.TOTAL_DISCOUNT" | translate }}
          </th>
          <td
            mat-cell
            *matCellDef="let po"
            [innerHTML]="po?.totalDiscount | customCurrency"
          ></td>
        </ng-container>
        <ng-container matColumnDef="totalTax">
          <th mat-header-cell *matHeaderCellDef>
            {{ "PURCHASE_RETURN.TOTAL_TAX" | translate }}
          </th>
          <td
            mat-cell
            *matCellDef="let po"
            [innerHTML]="po?.totalVat | customCurrency"
          ></td>
        </ng-container>
        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef>
            {{ "PURCHASE_RETURN.TOTAL_AMOUNT" | translate }}
          </th>
          <td
            mat-cell
            *matCellDef="let po"
            [innerHTML]="po?.netTotal | customCurrency"
          ></td>
        </ng-container>
        <ng-container matColumnDef="action-search">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="docDate-search">
          <th mat-header-cell *matHeaderCellDef>
            <input
              class="form-control"
              id="poCreatedDate"
              [(ngModel)]="docDateFilter"
              [owlDateTimeTrigger]="poCreatedDate"
              [owlDateTime]="poCreatedDate"
              placeholder=""
            />
          </th>
          <owl-date-time
            [pickerType]="'calendar'"
            #poCreatedDate
          ></owl-date-time>
        </ng-container>
        <ng-container matColumnDef="docNo-search">
          <th mat-header-cell *matHeaderCellDef>
            <input
              placeholder=""
              type="text"
              class="form-control w-90"
              [(ngModel)]="docNoFilter"
            />
          </th>
        </ng-container>
        <ng-container matColumnDef="supplierName-search">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="transactionMode-search">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="totalDiscount-search">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="totalTax-search">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="totalAmount-search">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="footer">
          <td mat-footer-cell colspan="12" *matFooterCellDef>
            <mat-paginator
              [length]="purchaseReturnResource.totalCount"
              [pageSize]="purchaseReturnResource.pageSize"
              [pageSizeOptions]="[10, 25, 50, 100]"
              showFirstLastButtons
            >
            </mat-paginator>
          </td>
        </ng-container>

        <ng-container
          *hasClaim="'purchase_purchase_return_list_purchase_return_items'"
        >
          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let poObject"
              [attr.colspan]="displayedColumns.length"
              [ngClass]="{ highlight: poObject == expandedElement }"
            >
              <ng-container *ngIf="poObject == expandedElement">
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    poObject == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <div class="inner-table mat-elevation-z8">
                    <app-purchase-return-item
                      [purchaseOrder]="poObject.purchaseReturnUUID"
                    >
                    </app-purchase-return-item>
                  </div>
                </div>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>
        <tr *matNoDataRow>
          <td colspan="8" class="text-center">
            <span class="p-4 mt-4">
              <b> {{ "COMMON.NO_DATA_FOUND" | translate }}</b>
            </span>
          </td>
        </tr>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <!-- <tr mat-header-row *matHeaderRowDef="filterColumns;sticky: true"> -->
        <tr
          mat-footer-row
          *matFooterRowDef="footerToDisplayed; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </div>
  </div>
</div>
