<!-- <div class="topcustomer-chart">
    <h3>{{'DASHBOARD.TOP_SELLING_PRODUCTS' |translate}}</h3>
    <ng-container *ngIf="isLoading$">
      <app-dashboard-loader></app-dashboard-loader>
      </ng-container>
      <ng-container *ngIf="!isLoading$">
    <canvas *ngIf="topSellingProductsList?.length>0" baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [colors]="barChartColors"
    [legend]="barChartLegend"
    [chartType]="barChartType"></canvas>
    <div *ngIf="topSellingProductsList?.length<=0" class="dummyChart">
      <label >{{'COMMON.NO_DATA_FOUND' | translate}}</label>
    </div>
  </ng-container>
  </div> -->

  <div class="topcustomer-chart">
    <!-- <span class="adv-rpt">Advanced Report<i class="vector"></i></span> -->
    <div class="chart-wrapper">
      <ng-container *ngIf="isLoading$">
        <app-dashboard-loader></app-dashboard-loader>
        </ng-container>
        <ng-container *ngIf="!isLoading$">
          <canvas baseChart *ngIf="topSellingProductsList?.monthlyPurchaseReturnCurrentYear?.length > 0 || topSellingProductsList?.monthlySalesReturnCurrentYear?.length > 0"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [type]="lineChartType">
        </canvas>
        </ng-container>
    </div>
  </div>