.form-group {
    margin-bottom: 0rem !important;
}
.report-tool-bar {
    margin-top: 0em !important;
}
label {
    margin-bottom: 0.2rem !important;
}
.table-scrolls{
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    table {
      margin-bottom: 50px;
    //   border: collapse !important;
      // padding: 20px;
      thead{
          color: white;
          tr th{
         background-color: #8E8F93 !important;
      padding:10px 20px;
     }
    }}
  }