<div class="loading">
    <div class="loading__letter">C</div>
    <div class="loading__letter">A</div>
    <div class="loading__letter">L</div>
    <div class="loading__letter">C</div>
    <div class="loading__letter">U</div>
    <div class="loading__letter">L</div>
    <div class="loading__letter">A</div>
    <div class="loading__letter">T</div>
    <div class="loading__letter">I</div>
    <div class="loading__letter">N</div>
    <div class="loading__letter">G</div>
    <div class="loading__letter">.</div>
    <div class="loading__letter">.</div>
    <div class="loading__letter">.</div>
  </div>