.mat-table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  @for $index from 0 through 300 {
    $size: $index * 2;
    .table-column-#{$size} {
      // flex: 0 1 #{$size}#{"px"};
      min-width: #{$size}#{"px"};
    }
  }

  tr.example-detail-row {
    height: 0 !important;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display : flex;
}

.inner-table {
    margin: 1em;
    padding: 1em;
    width: 100% !important;
}
table.mat-table {
  border-spacing: 0;
  display: table !important;
  width: 100% !important;
}
.content-header h1 i {
  display: list-item;
  position: absolute;
  padding-right: 18px;
  background-color: #f58220 !important;
}
.content-header h1 span {
  margin-left: 30px;
}
.filter-search button {
  // height: calc(1.5em + 0.75rem + 13px) !important;
}
td.mat-cell {
  border: 0;
  border-bottom: 1px solid #dee2e6;
  z-index: 0 !important;
}
table {
  width: 100%;
}
.table tr th {
  border: none;
  border-bottom: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6 !important;
  border-block-end: 1px solid #dee2e6 !important;
  background-color: #F8F9FD;

}
.table-responsive{
  border-radius: 20px;
  //overflow: hidden;
}
hr{
  width: 90% !important;
  margin: 0 10px 0 10px;
  }

  .highlight {
  background-color: #f5f7fa !important;
  border-left: 4px solid #fdb374 !important;
}
.highlight > * {
  background-color: inherit !important;
}