<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-auto col-sm-auto">
            <div class="content-header">
                <h1>{{'SALES_INVOICE.SALES_INVOICE_DETAIL' | translate}}</h1>
            </div>
        </div>
        <div class="col-md-auto col-sm-auto">
            <button *hasClaim="'sale_sale_invoice_print_sale_invoice'" class="btn blue-btn btn-sm m-right-10"
            (click)="generateInvoice()"

              >
                <i class="fas fa-receipt"></i> {{'COMMON.PRINT_INVOICE' | translate}}
            </button>
        </div>
    </div>
</div>


<br>
<ng-container>
    <app-comapny-profile-heading [ProfileType]="1"></app-comapny-profile-heading>

    <div class="row">
        <div class="col-md-6">
            <div class="invoice-detatable table-responsive">
                <table>
                    <tr>
                        <th>{{'SALES_INVOICE.INVOICE_NO' | translate}}</th>
                        <td>{{detailedSaleInvoice?.invoiceNumber}}</td>
                    </tr>
                    <tr>
                        <th>{{'SALES_INVOICE.INVOICE_DATE' | translate}}</th>
                        <td>{{detailedSaleInvoice.invoiceDate | customDate}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.DATE_OF_SUPPLY' | translate}}</th>
                        <td>{{detailedSaleInvoice.dateOfSupply | customDate}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="invoice-detatable table-responsive" [ngClass]="{'invoice-detatable-ar':translationService.getSelectedLanguage()=='ar'}">
                <table>
                    <tr>
                        <th>{{'SALES_INVOICE.P_O_NUMBER' | translate}}</th>
                        <td>{{detailedSaleInvoice.poNo}}</td>
                    </tr>
                    <tr>
                        <th>{{'SALES_INVOICE.D_R_NUMBER' | translate}}</th>
                        <td>{{detailedSaleInvoice.drNo}}</td>
                    </tr>
                    <tr>
                        <th>{{'SALES_INVOICE.TRANSACTION_MODE' | translate}}</th>
                        <td>

                            <span class="badge-pill" [ngClass]="{'badge-primary': detailedSaleInvoice?.transactionMode == 0 ,
              'badge-success' : detailedSaleInvoice?.transactionMode == 1,
              'badge-warning' : detailedSaleInvoice?.transactionMode == 2,
            'badge-danger': detailedSaleInvoice?.transactionMode == 3}">
                {{detailedSaleInvoice.transactionModeText}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="invoice-detatable table-responsive" [ngClass]="{'invoice-detatable-ar':translationService.getSelectedLanguage()=='ar'}">
                <table>
                    <tr>
                        <th colspan="2" class="text-center" style="font-size: 18px;">{{'SALES_INVOICE.SELLER' | translate}}</th>
                    </tr>
                    <tr>
                        <th>{{'COMMON.NAME' | translate}}</th>
                        <th class="salesins-name" [ngClass]="{'salesins-name-ar':translationService.getSelectedLanguage()=='ar'}">{{translationService.getSelectedLanguage()=='en'?companyProfile.nameEnglish:companyProfile.nameSecondLanguage}}</th>
                    </tr>
                    <tr>
                        <th>{{'COMMON.BUILDING_NO' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?companyProfile.buildingNoEnglish:companyProfile.buildingNoSecondLanguage}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.STREET_NAME' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?companyProfile.streetEnglish:companyProfile.streetSecondLanguage}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.DISTRICT' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?companyProfile.districtEnglish:companyProfile.districtSecondLanguage}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.CITY' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?companyProfile.placeEnglish:companyProfile.placeSecondLanguage}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.ZIP_CODE' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?companyProfile.zipCodeEnglish:companyProfile.zipCodeSecondLanguage}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.ADDITIONAL_REG_NO' | translate}}</th>
                        <td>{{companyProfile.additionalNo}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.TAX_NO' | translate}}</th>
                        <td>{{companyProfile.vatRegNo}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.TELEPHONE' | translate}}</th>
                        <td>{{companyProfile.phoneNo}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.MOBILE' | translate}}</th>
                        <td>{{companyProfile.mobileNo}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="invoice-detatable table-responsive" [ngClass]="{'invoice-detatable-ar':translationService.getSelectedLanguage()=='ar'}">
                <table>
                    <tr>
                        <th colspan="2" class="text-center" style="font-size: 18px;">{{'SALES_INVOICE.BUYER' | translate}}</th>
                    </tr>
                    <tr>
                        <th>{{'COMMON.NAME' | translate}}</th>
                        <th class="salesins-name" [ngClass]="{'salesins-name-ar':translationService.getSelectedLanguage()=='ar'}">{{translationService.getSelectedLanguage()=='en'?client.nameEnglish:client.nameSecondLanguage}}</th>
                    </tr>
                    <tr>
                        <th>{{'COMMON.BUILDING_NO' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?client.buildingNoEnglish:client.buildingNoArabic}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.STREET_NAME' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?client.streetEnglish:client.streetArabic}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.DISTRICT' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?client.district:client.districtArabic}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.CITY' | translate}}</th>
                        <td>{{translationService.getSelectedLanguage()=='en'?client.placeEnglish:client.placeArabic}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.ZIP_CODE' | translate}}</th>
                        <td>{{client.zipCode}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.ADDITIONAL_REG_NO' | translate}}</th>
                        <td>{{client.addRegNo}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.TAX_NO' | translate}}</th>
                        <td>{{client.gstVatNo}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.CR_NO' | translate}}</th>
                        <td>{{client.regCrNo}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.TELEPHONE' | translate}}</th>
                        <td>{{client.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <th>{{'COMMON.MOBILE' | translate}}</th>
                        <td>{{client.mobileNumber}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="page-header-main">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-auto col-sm-auto">
                <div class="content-header">
                    <h1>{{'COMMON.LINE_ITEMS' | translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive invoice-detatable">
        <table class="table table-bordered table-hover table-striped">
            <thead class="head">
                <tr>
                    <th style="width:1%;text-align: center;">{{'COMMON.#' | translate}}</th>
                    <th>{{'SALES_INVOICE.NATURE_OF_GOODS_OR_SERVICES' | translate}}</th>
                    <th class="text-center">{{'PRODUCT.UNIT_COST' | translate}}</th>
                    <th class="text-center" style="width:2%">{{"PRODUCT.QUANTITY" | translate}}</th>
                    <th class="text-right">{{"SALES_INVOICE.DISCOUNT" | translate}}</th>
                    <th class="text-right">{{'SALES_INVOICE.TAXABLE_AMOUNT' | translate}}</th>
                    <!-- <th class="text-right">{{'SALES_INVOICE.TAX_RATE' | translate}}</th> -->
                    <th class="text-right">{{'SALES_INVOICE.TAX_AMOUNT' | translate}}</th>
                    <th class="text-right">{{'SALES_INVOICE.TOTAL' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let saleInvoice of saleInvoiceItems;let i=index">
                    <ng-container >
                        <td style="text-align: center;">{{i+1}}</td>
                        <td>{{translationService.getSelectedLanguage()=='en'?saleInvoice.productObject?.nameEnglish:saleInvoice.productObject?.nameSecondLanguage}}</td>
                        <td class="text-center" [innerHTML]="saleInvoice?.unitPrice | customCurrency"></td>
                        <td class="text-center">{{saleInvoice?.quantity}} {{ translationService.getSelectedLanguage()=='en'?saleInvoice?.unitObject?.nameEnglish:saleInvoice?.unitObject?.nameEnglish}}
                            </td>
                        <td class="text-right" [innerHTML]="saleInvoice?.discountAmount | customCurrency"></td>
                        <td class="text-right" [innerHTML]="(saleInvoice?.unitPrice * saleInvoice?.quantity) | customCurrency"></td>
                        <!-- <td class="text-right" >{{saleInvoice?.vatRate}} %</td> -->
                        <td class="text-right" [innerHTML]="(saleInvoice?.sgstAmount + saleInvoice?.cgstAmount + saleInvoice?.igstAmount + saleInvoice?.cessAmount + saleInvoice?.addnlCessAmount )| customCurrency"></td>
                        <td class="text-right" [innerHTML]="saleInvoice?.itemTotalAmount | customCurrency">
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>


        <table style="width: 100%;font-family: 'Inter', sans-serif;border-collapse: collapse;">
            <tbody>
                <tr style="border: none;">
                    <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;" colspan="4">
                        <b>
                            Total Qty
                        </b>
                    </td>
                 
                    <td style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                        <b [innerHTML]="detailedSaleInvoice.totalQuantity | customCurrency"></b>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;" colspan="4">
                        <b>
                            Total
                        </b>
                    </td>
                   
                    <td style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                        <b [innerHTML]="detailedSaleInvoice.subTotal | customCurrency"></b>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;" colspan="4">
                        <b>Discount</b>
                    </td>
                    
                    <td style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                        <b [innerHTML]="detailedSaleInvoice.totalDiscount | customCurrency"></b>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;" colspan="4">
                        <b>
                            Total Taxable Amt
                        </b>
                    </td>
                   
                    <td style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                        <b [innerHTML]="detailedSaleInvoice.totalTaxableAmount | customCurrency"></b>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;" colspan="4">
                        <b>Total TAX</b>
                    </td>
                  
                    <td style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                        <b [innerHTML]="detailedSaleInvoice.totalTax | customCurrency"></b>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;" colspan="4">
                        <b>Total Expenses</b>
                    </td>
                    
                    <td style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                        <b [innerHTML]="detailedSaleInvoice.totalExpenses | customCurrency"></b>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;" colspan="4">
                        <b>Round Off</b>
                    </td>
                  
                    <td style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                        <b [innerHTML]="detailedSaleInvoice?.roundOff | customCurrency"></b>
                    </td>
                </tr>
                <tr style="border: none;">
                    <td style="text-align: left;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;" colspan="4">
                        <b>Total Amount</b>
                    </td>
                 
                    <td style="text-align: right;font-size:14px;background-color: #f2f2f2;padding: 3px 12px;">
                        <b [innerHTML]="detailedSaleInvoice?.totalAmount | customCurrency"></b>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-3">
          <qrcode [qrdata]="detailedSaleInvoice.qrCode?detailedSaleInvoice.qrCode:''" width="100%" [errorCorrectionLevel]="'H'" allowEmptyString="true"></qrcode>
      </div>
    </div>




</ng-container>

<ng-container *ngIf="detailedSaleInvoiceForPdf">
    <app-detailed [detailedPDF]="detailedSaleInvoiceForPdf" [companyProfilePdf]="companyProfileForPdf"></app-detailed>
</ng-container>
