.table-responsive > .table-bordered {
    border: 0;
    width: 100% !important;
    display: table !important;
}
.content-header h1 i {
    display: list-item;
    position: absolute;
    padding-right: 18px;
    background-color: #f58220 !important;
  }
  .content-header h1 span {
    margin-left: 25px;
  }
