<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header svg-icons">
        <h1>Manage POS Printer</h1>
      </div>
    </div>
  </div>
  <div class="breadcrump-pages">
    <div class="crumbs-sec">
      <a [routerLink]="['/']">Dashboard</a> <i class="chevron-icon"></i> <a [routerLink]="['/pos-printer']">POS Printer</a> <i class="chevron-icon"></i> <span>Manage POS
        Printer</span>
    </div>
  </div>
</div>

<form [formGroup]="posPrinterForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-md-9">
      <div class="section-boxed">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-dark">Name</label>
              <input formControlName="nameEnglish" class="form-control w-100" type="text">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-dark">IP Address</label>
              <input formControlName="ipAddress" class="form-control w-100" type="text">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-dark">Port No</label>
              <input formControlName="portNo" class="form-control w-100" type="text">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-dark">Paper Width</label>
              <input formControlName="paperWidth" class="form-control w-100" type="text">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-dark">Model Name</label>
              <input formControlName="modelName" class="form-control w-100" type="text">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-dark">Serial No</label>
              <input formControlName="serialNo" class="form-control w-100" type="text">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-dark">Print Speed</label>
              <input formControlName="printSpeed" class="form-control w-100" type="text">
            </div>
          </div>
          <div class="col-md-4 content-flex">
            <mat-slide-toggle  formControlName="haveBattery"> Have Battery</mat-slide-toggle>
          </div>
          <div class="col-md-4 content-flex">
            <mat-slide-toggle formControlName="hasBluetooth"> Has Bluetooth</mat-slide-toggle>
          </div>
          <div class="col-md-4">
            <mat-slide-toggle formControlName="hasWifi"> Has Wifi</mat-slide-toggle>
          </div>
          <div class="col-md-4">
            <mat-slide-toggle formControlName="hasEthernet"> Has Ethernet</mat-slide-toggle>
          </div>
          <div class="col-md-4">
            <mat-slide-toggle formControlName="hasUSB"> Has USB</mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-12">
      <div class="row">
        <div class="col-md-12 col-md-3">
          <mat-card class="cus-mat-card text-center">
            <input hidden (change)="onFileSelect($event)" #fileInput name="logo" type="file" name="Profile Photo"
              fxFlex="30">
            <img *ngIf="imgSrc" class="full-width" [src]="imgSrc" />
            <img *ngIf="!imgSrc" class="full-width" src="../../../assets/images/dummy.jpg" />
            <mat-card-actions>
              <button type="button" *ngIf="!imgSrc" class="btn btn-success btn-sm m-right-10 rounded-pill"
                (click)="fileInput.click()">
                <i class="far fa-image"></i> {{'COMMON.ADD_IMAGE' | translate}}</button>
              <button type="button" *ngIf="imgSrc" class="btn btn-success btn-sm m-right-10 rounded-pill"
                (click)="fileInput.click()">
                <i class="far fa-image"></i> {{'COMMON.CHANGE_IMAGE' | translate}}</button>
              <button *ngIf="imgSrc" type="button" (click)="onRemoveImage()" class="btn btn-danger btn-sm rounded-pill">
                <i class="fas fa-trash-alt"></i> {{'COMMON.REMOVE_IMAGE' | translate}}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row section-boxed m-1 p-3">
    <div class="col-md-12 m-bottom-40 text-right">
      <button type="submit" class="btn blue-btn mr-2 m-left-10">
        <i class="icon61"></i> Save
      </button>
      <button [routerLink]="['/pos-printer']" type="button" class="btn btn-danger">
        <i class="fas fa-times"></i> Cancel
      </button>
    </div>
  </div>
</form>
