@import "color";
@import "login";
@import "header";
@import "sidebar";
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

body {
  color: $gray;
  font-family: "Inter", sans-serif !important;
  height: 100%;
  background-color: #F4F7FE !important;
  font-size: 15px;
}

.mat-app-background {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
  /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 0;
  /* creates padding around scroll thumb */
}

:root {
  scrollbar-color: #ccc #eaeaea !important;
  scrollbar-width: thin !important;
}

.content-main {
  display: block;
}

.toggled .topbar {
  left: 0px;
}

.fs-11 {
  @include rem(font-size, 0.65rem);
}

.fs-12 {
  @include rem(font-size, 0.75rem);
}

.fs-13 {
  @include rem(font-size, 0.8125rem);
}

.fs-14 {
  @include rem(font-size, 0.875rem);
}

.fs-15 {
  @include rem(font-size, 0.9375rem);
}

.fs-16 {
  @include rem(font-size, 1rem);
}

.fs-17 {
  @include rem(font-size, 1.0625rem);
}

.fs-18 {
  @include rem(font-size, 1.125rem);
}

.fs-19 {
  @include rem(font-size, 1.1875rem);
}

.fs-20 {
  @include rem(font-size, 1.25rem);
}

.fs-21 {
  @include rem(font-size, 1.3125rem);
}

.fs-22 {
  @include rem(font-size, 1.375rem);
}

.fs-23 {
  @include rem(font-size, 1.4375rem);
}

.fs-24 {
  @include rem(font-size, 1.5rem);
  line-height: 1em;
}

.fs-25 {
  font-size: 25px;
}

.fs-28 {
  @include rem(font-size, 1.7375rem);
}

.fs-30 {
  @include rem(font-size, 1.875rem);
  line-height: 1em;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-normal {
  font-weight: normal;
}

.content-area {
  width: calc(100% - 255px);
  margin-top: 70px;
  margin-left: 255px;
  padding: 15px 15px 35px 15px;
  overflow: hidden;
  height: calc(100vh - 82px);
  overflow-y: auto;
}
.content-area-ar {
  margin-right: 255px;
  margin-left: 0 !important;
  position: absolute;
  padding: 15px 15px 0px 15px !important;
  bottom: 0;
  margin-bottom: 30px
}
.toggled .content-area-ar {
  margin-left: inherit !important;
  margin-right: 0 !important;
}
.mat-focus-indicator img {
  height: 290px;
  object-fit: contain;
 
  padding: 10px;
  border-radius: 10px;
}

.toggled .content-area {
  width: 100%;
  margin-left: 0;
}

.container-start {
  margin-top: 0;
}

.nav-tabs.nav-justified > li > a {
  border-radius: 0;
  margin-bottom: 0;
}

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: $primary;
  border-color: #dee2e6 #dee2e6 #dee2e6;
}

.nav-tabs {
  border-bottom: 1px solid $light-gray;
}

.nav-tabs > li > a {
  margin-right: 0;
  color: #888;
  border-radius: 0;
}

.user-tabs .nav-tabs > li > a {
  border: 0;
  border-bottom: 3px solid transparent;
  color: #3e3e3e;
  font-weight: 600;
  padding: 0px 20px 15px 20px;
}

.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active,
.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:hover,
.user-tabs .nav-tabs.nav-tabs-bottom > li > a.active:focus {
  border-bottom-width: 3px;
  color: $primary;
}

.nav-tabs.nav-tabs-bottom > li > a.active,
.nav-tabs.nav-tabs-bottom > li > a.active:hover,
.nav-tabs.nav-tabs-bottom > li > a.active:focus {
  border-bottom-width: 2px;
  border-color: transparent;
  border-bottom-color: $primary;
  background-color: transparent;
  transition: none 0s ease 0s;
  -moz-transition: none 0s ease 0s;
  -o-transition: none 0s ease 0s;
  -ms-transition: none 0s ease 0s;
  -webkit-transition: none 0s ease 0s;
}

.info-header {
  border-bottom: 1px solid $light-gray;
  border-radius: 4px 4px 0 0;
  padding: 15px 15px;
}

.info-nav .nav-tabs {
  border: 0 !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info-nav .nav-tabs li {
  margin: 5px 15px 5px 0;
  display: inline-block;
  white-space: nowrap;
  max-width: fit-content;
}

.info-nav .nav-tabs > li > a {
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 6px 15px;
  text-transform: capitalize;
  cursor: pointer;
}

.widget-title {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
  color: $primary-blue;
}

.symtoms-check {
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: 6px 15px;
  text-transform: capitalize;
  white-space: nowrap;
  max-width: fit-content;
}

.custom-control-label {
  cursor: pointer;
}

.selected-disease {
  color: $text-primary;
  border-radius: 50px;
  text-transform: capitalize;
}

.table th,
.table td {
  border-top: 1px solid $light-gray;
  padding: 2px 0.75rem;
  white-space: nowrap;
}
.table-bordered thead tr th,
.table-bordered tbody tr td {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  white-space: initial;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

tfoot {
  z-index: 1000;
}

table.mat-table {
  height: 100%;
}

.table.table-center th,
.table.table-center td {
  vertical-align: middle;
}

.table {
  color: #272b41;
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
  border: 1px solid $light-gray;
  border-radius: 4px;
}

.table tr td:first-child {
  padding-left: 1.5rem;
}
.table tr th:first-child {
  padding-left: 1.5rem;
}

.btn-main {
  background-color: $primary;
  border: 2px solid $primary;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 18px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}

.btn-main-large {
  background-color: #f58220;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 18px;
  text-align: center;
  width: 100%;
  border: 2px solid #f58220;
  border-radius: 4px;
}

.btn-main-small {
  padding: 2px 18px;
}

.experience-box {
  position: relative;
}

.experience-list::before {
  background: #ddd;
  bottom: 0;
  content: "";
  left: 8px;
  position: absolute;
  top: 8px;
  width: 2px;
}

.experience-list > li {
  position: relative;
}

.experience-list > li .experience-user {
  background: #fff;
  height: 10px;
  left: 4px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  width: 10px;
}

.before-circle {
  background-color: rgba(32, 192, 243, 0.2);
  border-radius: 50%;
  height: 12px;
  width: 12px;
  border: 2px solid $primary;
}

.experience-list > li .experience-content {
  background-color: #fff;
  margin: 0 0 20px 40px;
  padding: 0;
  position: relative;
}

.experience-list > li .experience-content .date {
  color: #000000;
  font-weight: 600;
}

.experience-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.card-label > label {
  background-color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin: 0px auto auto 8px;
  padding: 0 7px;
}

.card-label > input {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  display: block;
  height: 50px;
  margin-top: -13px;
  padding: 5px 15px 0;
  transition: border-color 0.3s;
  width: 100%;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.prakruti-details {
  padding: 0 20px 10px 20px;
  background-color: #fafafa;
  margin-bottom: 10px;
  .widget-title {
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.font-weight-600 {
  font-weight: 600;
}

.status-switch {
  top: 0.9rem;
  left: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 1365px) {
  .table {
    td {
      padding: 0.2rem !important;
    }
  }
  .status-switch {
    left: 0 !important;
  }
  .topbar {
    left: 0px !important;
  }
  .toggled .topbar {
    left: 0px !important;
  }
  .content-area {
    width: 100%;
    margin-top: 55px;
    height: calc(100vh - 88px);
    margin-left: 0;
  }
  .content-area-ar {
    margin-right: 255px;
    margin-left: 0 !important;
}
.content-area-ar {
    width: calc(100% - 255px);
    margin-top: 70px;
    margin-left: 255px;
    padding: 15px 15px 35px 15px;
    overflow: hidden;
    height: calc(100vh - 82px);
    overflow-y: auto;
}
  .toggled .content-area {
    width: calc(100% - 255px);
    margin-top: 55px;
    margin-left: 255px;
  }
  .toggled .content-area-ar {
    width: 100%;
  }
}

.action-buttons {
  display: flex;
}
.action-buttons .dropdown .dropdown-toggle {
  margin-left: 10px;
  background-color: #000;
}
.dropdown-menu.show {
  top: -5px !important;
}
.active-togle {
  margin-left: 20px;
  position: relative;
  top: 4px;
}

.k-grid-header,
.k-grid-toolbar,
.k-grouping-header,
.k-grid-add-row,
.k-grid-footer,
.k-grid {
  color: #272727;
  background-color: #f6f6f6;
}

.nav-li-links {
  li > a {
    border: 0 !important;
    padding: 0 !important;
    cursor: pointer;
    color: #007bff;
  }
  li > a:after {
    content: "|";
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    color: #cacaca;
  }
  li:last-child > a:after {
    display: none;
  }
}

.card-header {
  padding: 0.45rem 1rem 0;
  margin-bottom: 0;
  background-color: rgb(255 255 255 / 3%);
  border-bottom: 0;
}

.card-body {
  padding: 1rem;
}

.k-checkbox {
  border-color: #ababab;
  color: #656565;
  background-color: #ffffff;
}

.k-textbox,
.k-autocomplete.k-header,
.k-autocomplete,
.k-textarea,
.k-multiselect .k-multiselect-wrap,
.k-dropdowntree .k-multiselect-wrap,
.k-combobox .k-dropdown-wrap,
.k-numerictextbox .k-numeric-wrap {
  border-color: #cacaca;
  color: #525252;
}

@media print {
  body {
    font-size: 12px;
  }
  .wrap-text {
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    font-size: 11px;
  }
}

.wrap-text {
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  font-size: 11px;
}

.mat-table {
  font-family: "Inter", sans-serif !important;
}

.mat-select {
  font-family: "Inter", sans-serif !important;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-family: "Inter", sans-serif !important;
}

.blue-btn {
  // background-color: $primary-blue !important;
  background: var(--pay, radial-gradient(311.13% 122.5% at 0% 0%, #fd9a46 0%, #fc8118 100%)) !important;
  color: white !important;
  border:2px solid var(--pay, radial-gradient(311.13% 122.5% at 0% 0%, #fd9a46 0%, #fc8118 100%)) !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  height: 38px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.btn-blue {
  // background-color: $primary-blue !important;
  background: var(--pay, radial-gradient(311.13% 122.5% at 0% 0%, #fd9a46 0%, #fc8118 100%)) !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
}
.blue-btn-secondary {
  background-color: $white-bg !important;
  color: $primary !important;
  font-weight: 600 !important;
  border: 1px solid #FDB374 !important;
  border-radius: 8px !important;
  height: 38px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: black !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: black !important;
}

.dropdown-menu {
  color: black !important;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.modal-content1 {
  .modal-title {
    font-size: 17px;
    line-height: 22px;
    padding-left: 0;
    color: $modal-title;
    overflow: hidden;
    white-space: nowrap;
    // text-overflow: ellipsis;
    width: 100%;
  }
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    .close {
      margin: 0 !important;
      padding: 3px 0 3px 25px !important;
     // color: #df0b0b;
      .fas {
        font-size: 17px;
      }
    }
    button:focus {
      outline: 0;
    }
  }
  .card-header {
    background-color: $white-bg;
    @extend .fs-16;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $border-lightgray;
  }
  .custom-control-label {
    padding-left: 0;
  }
  .modal-footer {
    border-radius: 0 0 1.25rem 1.25rem;
    padding: 0.7rem 11px 0.5rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    border: 0;
    background: #fff;
    margin-top: 10px;
    z-index: 1;
    justify-content: flex-start;
  }
  .modal-body {
    padding: 20px 20px 0 20px;
  }
}

.purchanse-managed-modal-table {
  max-height: calc(80vh - 170px);
    overflow: auto;
}
.cus-mat-card {
  
}

.page-header-main {
  margin: -5px 0px 10px;
  padding: 10px 0;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary;
}

@media only screen and (max-width: 767px) {
  .table tr th:first-child {
    padding-left: 5px;
  }
  .page-header-main {
    margin: -15px 0px 10px;
    padding: 10px 0;
  }
  .modal-content1 {
    .modal-title {
      font-size: 17px;
      line-height: 22px;
      padding-left: 0;
      color: $modal-title;
      overflow: hidden;
      white-space: nowrap;
      // text-overflow: ellipsis;
      width: 100%;
    }
    .modal-header {
      .close {
        padding: 3px 0 3px 0 !important;
      }
    }
  }
  .mat-paginator-range-label {
    margin: 0 2px 0 0px !important;
  }
  .mrl-0 {
    padding-right: 0 !important;
  }
  .NgxEditor__MenuBar {
    flex-wrap: wrap-reverse;
  }
  .tbl-1000 {
    width: 1000px !important;
  }
}



#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	border-radius: 10px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: transparent;
}
.purchanse-managed-table th {
  background-color: #8E8F93 !important;
    color: #FFF;
  
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.purchanse-managed-table td {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.purchanse-managed-button button {
  background-color: #f58220 !important;
  border-radius: 8px;
  padding: 3px 25px;
  margin-bottom: 25px !important;
}
.purchanse-managed-submit-button button {
  background-color: #f58220 !important;
  border-radius: 0;
  padding: 10px 25px;
  margin-top: 25px !important;
  color: #FFF;
  border: 0;
}
.bg-ibms {
  background-color: #f58220 !important;
}
.mat-paginator-container {
  justify-content: space-between !important;
}
.mat-paginator {
  width: 100%;
}
.purchanse-managed-modal-table tfoot td {
  padding: 0;
  padding-left: 0 !important;
}
.purchanse-managed-searchbar {
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 10px;
  padding: 7px 35px;
  margin-right: 5px;
  margin-bottom: 25px;
  input{
    width: 100%;
    height: 25px;
    border: none;
    &:focus{
      border: none;
    }
  }
}
h5.prod-variants-header{
  margin-top: 10px;
}
table.prod-inner-table{
  margin:0 0 20px 5px;
}
table.prod-inner-table thead{
border-top: 1px solid rgb(199, 199, 199);
border-bottom: 1px solid rgb(199, 199, 199);
}
.purchanse-managed-table tfoot th {
  background-color: #FFF !important;
  color: #212529 !important;
  font-size: 17px;
}
.purchanse-managed-modal-table th {
  background-color: #F8F9FD !important;
  color: #000000;
}
.bg-product-modal th {
  background-color:#FFFFFF !important;
  color: #4b4b4b;
}
ul ul {
  list-style-type: none !important;
}
.purchanse-managed-searchbar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
.purchanse-managed-searchbar i {
  // position: absolute;
  // top: 7px;
  // left:35px;
  // right: 21%;
  color: #f58220;
}
.content-flex {
  display: flex;
  align-items: center;
}
.headoffice-bottom {
  margin-bottom: 0 !important;
}

.filter-group {
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-direction: row;
  justify-content: flex-end;
  label {
    margin: 0 20px;
  }

  .form {
    width: 350px;
    position: relative;
  }
  .filter-dropdown {
    width: 200px;
    height: 35px;

    .mat-select {
      background-color: #F8F9FD;
      border-radius: 6px;
    }
  }
  .form input {
    background-color: #eceff5;
  }
  .form .fa-search {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #9ca3af;
  }

  .form span {
    position: absolute;
    right: 17px;
    top: 8px;
    padding: 0px;
    border-left: 1px solid #d1d5db;
  }

  .left-pan {
    padding-left: 4px;
  }

  .left-pan i {
    padding-left: 5px;
  }

  .form-input {
    border: none;
    height: 35px;
    text-indent: 33px;
    border-radius: 6px;
  }

  .form-input:focus {
    box-shadow: none;
    border: none;
  }
}
.table-scrolls{
  table {
    margin-bottom: 50px;
    thead{
        color: white;
        tr th{
       background-color: #8E8F93 !important;
    padding:10px 20px;
    text-transform: capitalize;
   }
  }}
}

.fiter-sec-ico{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
     
}