<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>
          {{ "ACCOUNTS.RECEIPT_VOUCHER.RECEIPT_VOUCHER_DETAIL" | translate }}
        </h1>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto">
      <button
        *hasClaim="'account_receipt_voucher_print_receipt_voucher'"
        class="btn blue-btn btn-sm m-right-10"
        (click)="generateInvoice()"
      >
        {{ "ACCOUNTS.RECEIPT_VOUCHER.PRINT_RECEIPT_VOUCHER" | translate }}
        &nbsp;&nbsp;&nbsp;
        <i class="fas fa-receipt"></i>
      </button>
    </div>
  </div>
  <div class="breadcrump-pages">
    <div class="crumbs-sec">
      <a [routerLink]="['/']">{{ "SIDEBAR.DASHBOARD" | translate }}</a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
      >
        <g clip-path="url(#clip0_202_698)">
          <path
            d="M6 4.5L10 8.5L6 12.5"
            stroke="#4A4A4A"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_202_698">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"
            />
          </clipPath>
        </defs>
      </svg>
      <a [routerLink]="['/receiptVoucher']">{{
        "SIDEBAR.RECEIPT_VOUCHER" | translate
      }}</a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="17"
        viewBox="0 0 16 17"
        fill="none"
      >
        <g clip-path="url(#clip0_202_698)">
          <path
            d="M6 4.5L10 8.5L6 12.5"
            stroke="#4A4A4A"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_202_698">
            <rect
              width="16"
              height="16"
              fill="white"
              transform="translate(0 0.5)"
            />
          </clipPath>
        </defs>
      </svg>
      <span>{{
        "ACCOUNTS.RECEIPT_VOUCHER.RECEIPT_VOUCHER_DETAIL" | translate
      }}</span>
    </div>
  </div>
</div>

<app-comapny-profile-heading
  [ProfileType]="4"
  [branchUUID]="receipt?.branchUUID"
></app-comapny-profile-heading>

<div class="row details_card ml-1 mr-1">
  <div class="col-md-6">
    <div
      class="invoice-detatable table-responsive"
      [ngClass]="{
        'invoice-detatable-ar': translationService.getSelectedLanguage() == 'ar'
      }"
    >
      <table>
        <tr>
          <td>
            {{ "ACCOUNTS.RECEIPT_VOUCHER.RECEIPT_VOUCHER_NO" | translate }}
          </td>
          <th>{{ receipt.docNo }}</th>
        </tr>
        <tr>
          <td>
            {{ "ACCOUNTS.RECEIPT_VOUCHER.RECEIPT_VOUCHER_DATE" | translate }}
          </td>
          <th>{{ receipt.docDate | customDate }}</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="invoice-detatable table-responsive"
      [ngClass]="{
        'invoice-detatable-ar': translationService.getSelectedLanguage() == 'ar'
      }"
    >
      <table>
        <tr>
          <td>{{ "COMMON.USER" | translate }}</td>
          <th>{{ receipt?.createdBy }}</th>
        </tr>
        <tr>
          <td>{{ "COMMON.AMOUNT" | translate }}</td>
          <th [innerHTML]="receipt.totalAmount | customCurrency"></th>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="page-header-main">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header">
        <h1>{{ "ACCOUNTS.RECEIPT_VOUCHER.RECEIPT_DETAIL" | translate }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="variant-table table-responsive">
  <table class="">
    <thead class="head">
      <tr>
        <th style="width: 1%">{{ "COMMON.#" | translate }}</th>
        <th>{{ "COMMON.ACCOUNT_CODE" | translate }}</th>
        <th>{{ "ACCOUNTS.ACCOUNT_HEAD.NAME_ENGLISH" | translate }}</th>
        <!-- <th>{{'ACCOUNTS.ACCOUNT_HEAD.NAME_ARABIC'  | translate}}</th> -->
        <th>{{ "COMMON.NARRATION" | translate }}</th>
        <th class="text-right">{{ "COMMON.AMOUNT" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of receiptDetail; let i = index">
        <ng-container>
          <td style="text-align: center">{{ i + 1 }}</td>
          <td>{{ item?.accountHead?.accountCode }}</td>
          <td>{{ item?.accountHead?.nameEnglish }}</td>
          <!-- <td>{{item?.accountHead?.nameSecondLanguage}}</td> -->
          <td>{{ item?.description }}</td>
          <td
            class="text-right"
            [innerHTML]="item?.amount | customCurrency"
          ></td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
<ng-container *ngIf="receiptInvoice">
  <app-receipt-pdf [receiptPDF]="receiptInvoice"></app-receipt-pdf>
</ng-container>
