.btn-cancel{
    // background: var(--pay, radial-gradient(311.13% 122.5% at 0% 0%, #fd9a46 0%, #fc8118 100%)) !important;
    color: #000 !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    height: 38px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border:2px solid #000;
}