.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.btn-control-center {
  margin-top: 21px;
}
.mt-8 {
  margin-top: 8px;
}
.content-header h1 i {
  display: list-item;
  position: absolute;
  padding-right: 18px;
  background-color: #f58220 !important;
}
.content-header h1 span {
  margin-left: 25px;
}
.image-user-upload button {
  margin: 0 !important;
  margin-right: 10px !important;
}
