.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.btn-control-center {
  margin-top: 21px;
}
.mt-8 {
  margin-top: 8px;
}
.content-header h1 i {
  display: list-item;
  position: absolute;
  padding-right: 18px;
  background-color: #f58220 !important;
}
.content-header h1 span {
  margin-left: 25px;
}
.image-user-upload button {
  margin: 0 !important;
  margin-right: 10px !important;
  border-radius: 8px;
}
.customer-save {
  margin-left: 1px;
  margin-right: 6px !important;
}
.section-boxed {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.customer-save {
  margin-left: 1px;
  margin-right: 1px;
}

.customer-save-button {
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #fd9a46;
  background: var(
    --pay,
    radial-gradient(311.13% 122.5% at 0% 0%, #fd9a46 0%, #fc8118 100%)
  ) !important;
}
.customer-close-button {
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #6b5c58;
}

.customer_button {
  display: flex;
  width: 92px;
  padding: 4px 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 56px;
  background: #00ac45;
  margin-left: 50px;
  margin-bottom: 19px;
}
.manage-user{
  display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: 0px;
    margin-bottom: 15px;
    
}

.card-full-manage{
  // background-color: #000;
  height: 100%;
  margin-bottom: 15px !important;
}
.card-full-manage img{
  height: 90%;
}
.cus-mat-card-manage{
  height: 100%;
}