<div class="page-header-main">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-auto col-sm-auto">
        <div class="content-header svg-icons">
          <h1>Manage Counter</h1>
        </div>
      </div>
    </div>
    <div class="breadcrump-pages">
      <div class="crumbs-sec">
        <a [routerLink]="['/']" >Dashboard</a>  <i class="chevron-icon"></i> <a [routerLink]="['/pos-device']" >Accounts</a> <i class="chevron-icon"></i> <span>Manage Counter</span>
      </div>
    </div>
  </div>
  
  <div class="loading-shade" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <form [formGroup]="counterForm" (ngSubmit)="saveCounter()">
    <div class="row section-boxed m-1 p-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
               <label class="text-dark" for="name">Counter Name<span class="text-danger">*</span></label>
                  <input formControlName="name" id="name" name="name" required class="form-control w-100" type="text">
                  <div *ngIf="counterForm.get('name')?.invalid && counterForm.get('name')?.touched" class="text-danger">
                    Counter Name is required.
                  </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <app-branch-dropdown [group]="counterForm" [controlName]="'branchUUID'"
                [isAddAll]="false" [isDefault]="isDefaultBranch"></app-branch-dropdown>
            </div>
          </div>
          <div *ngIf="isUpdate" class="form-group">
            <label class="text-dark" for="name">MAC Address</label>
            <input formControlName="mac" id="mac" name="mac"  class="form-control w-100" type="text">

          </div>
        </div>
      </div>
    </div>
    <div class="row section-boxed m-1 p-3">
      <div class="col-md-12 m-bottom-40 text-right">
        <button type="submit"  class="btn blue-btn mr-2 m-left-10">
          <i class="icon61"></i> Save
        </button>
        <button [routerLink]="['/pos-device']" type="button" class="btn btn-danger">
          <i class="fas fa-times"></i> Cancel
        </button>
      </div>
    </div>
  </form>
 
  

  

  